<ion-card no-margin>
    <ion-card-header no-padding>
        <figure>
            <img tappable (click)="goToDetailPhoto(photo)" class="picture" [src]="photo.thumbnail">
        </figure>
        <ion-item lines="none" class="user-info">
            <ion-avatar slot="start"> <img [src]="photo.user.avatar"> </ion-avatar>
            <ion-text (click)="goPublicProfile()" style="padding-left:0!important;" color="light"> <small class="faceBold" tappable>@{{photo.user.nickname}}</small></ion-text>
            <ion-icon tappable *ngIf="!showTags" (click)="showUserTags(photo)" name="ios-icon-tag-light" slot="end"></ion-icon>
            <ion-icon tappable *ngIf="showTags" (click)="showUserTags(photo)" name="ios-icon-tag" slot="end"></ion-icon>
        </ion-item>
        <div class="user-tags animated fadeIn" *ngIf="showTags && photo.tags.length>0 && !loading" text-center>
            <span class="faceBold" [class.nonUserTag]="userTag.nonUser" [class.pendingTag]="userTag.hide" *ngFor="let userTag of photo.tags" [style.left]="userTag.coords.col+'%'" [style.top]="userTag.coords.row+'%'">
                <small *ngIf="userTag.user"> @{{userTag.user.nickname}}</small>
                <small *ngIf="!userTag.user"> {{userTag.nonUser}}</small>
            </span>
        </div>
        <div class="no-user-tags" *ngIf="showTags && photo.tags.length===0 && !loading" text-center>
            <span class="faceBold"> {{ 'PHOTO_DETAIL_NO_TAGS' | translate  }} </span>
        </div>
    </ion-card-header>
    <ion-card-content text-center>
        <ion-text color="dark" *ngIf="photo.title">
            <h2>{{photo.title}}</h2>
        </ion-text>
        <div class="hashtags" *ngIf="photo.hashTags.length>0">
            <ion-text *ngFor="let hashTag of photo.hashTags" color="primary">{{hashTag._hashTagShow()}}</ion-text>
        </div>
        <div class="separator"> </div>
        <ion-text class="location" color="primary"> {{ (photo.location.address.length>120)? (photo.location.address |
            slice:0:120)+'..':(photo.location.address) }} </ion-text>
        <ion-text class="date" color="dark">
            <ion-text padding-top>{{photo._dateToShow() | date:'dd/M/yyyy HH:mm'}}</ion-text>
        </ion-text>
    </ion-card-content>
</ion-card>