ion-card{
    border-radius: 0;
    ion-card-header{
        figure{
            margin: 0;
            .picture{
                height: 100vW;
                width: 100%;
            }
        }
        .user-info{
            --background: linear-gradient(to top, #000000,rgba(0,0,0,0)) !important;
            position: absolute;
            width:100%;
            bottom: 0;
            ion-avatar{
                margin-right: 0.5rem;
            }
        }
        .user-info::before{
            width: 100%;
            height: 100%;
            position: absolute;
            content: "";
            background: linear-gradient(to top, #000000,rgba(0,0,0,0)) !important;
            opacity: 0.5;
        }
        .user-tags{
            span{
                position: absolute;
                top: 0;
                background: var(--ion-color-secondary, green);
                color: var(--ion-color-light, white);
                padding: 0.5rem;
                font-size: 0.75rem;
                small{
                    font-size: 0.75rem;
                    font-weight: bold;
                    font-family: "MontserratBold" !important;
                }
            }
            span::after {
                content: '';
                position: absolute;
                left: 40%;
                top: 100%;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid var(--ion-color-secondary, green);
                clear: both;
            }
            .nonUserTag{
                background: var(--ion-dark-lint, #595959) !important;
            }
            .nonUserTag::after{
                border-top: 5px solid  var(--ion-dark-lint, #595959) !important;
            }
            .pendingTag{
                background: var(--ion-dark-lint, #595959) !important;
            }
            .pendingTag::after{
                border-top: 5px solid  var(--ion-dark-lint, #595959) !important;
            }
        }
        .no-user-tags{
            position: absolute;
            top: 50%;
            width: 100%;
            color: var(--ion-color-primary, fuchsia);
        }
    }
    ion-card-content{
        padding: 1rem;
        .hashtags{
            ion-text{
                margin-right: 0.75rem;
                font-size: 0.75rem;
                color: var(--ion-color-primary, fuchsia);
            }
        }
        .separator{
            width: 30px;
            border-top: 2px solid var(--ion-color-secondary, green);
            margin: 0 auto;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        .location{
            font-size: 0.75rem;
        }
        .date{
            display: block;
            font-size: 0.75rem;
            padding: 0.5rem;
        }
    }
}