@media(min-width: 769px) {
  .user-tags{
    width: 100%;
    height: 100%;
    .tag{
      position: absolute;
      top: 0;
      background: var(--ion-color-secondary, green);
      color: var(--ion-color-light, white);
      padding-right: 5px;
      padding: 0.5rem;
      font-size: 0.75rem;
      &:after{
        content: '';
        position: absolute;
        left: 40%;
        top: 100%;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid var(--ion-color-secondary, green);
        clear: both;
      }
    }
    .no-tags{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      font-size: 18px;
      font-family: 'MontserratBold';
    }
  }
  .show-tags-icon{
    width: 24px;
    height: 24px;
  }
}
