
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
<ion-app class="ios">
  <ion-router-outlet></ion-router-outlet>
</ion-app>




