<app-header [refreshIcon]="true" [showAvatar]="false" [title]="'CONNECTIONS_TITLE' | translate | titlecase">
</app-header>
<ion-content *ngIf="user">
  <c-user-info [user]="user" [isMyUser]="true"></c-user-info>
  <ion-segment [(ngModel)]="segmentSelected" mode="md" color="primary">
    <ion-segment-button value="followers"> {{ 'CONNECTIONS_FOLLOWERS' | translate }}
      ({{connectionsFollowersList.length}})</ion-segment-button>
    <ion-segment-button value="following"> {{ 'CONNECTIONS_FOLLOWINGS' | translate }}
      ({{connectionsFollowingList.length}})</ion-segment-button>
  </ion-segment>

  <ion-list lines="none" [ngSwitch]="segmentSelected" id="touchTest">
    <div *ngSwitchCase="'following'" class="animated fadeIn">
      <ion-card class="noItems" *ngIf="connectionsFollowingList.length<=0 && !followingLoading">
        <ion-card-content>
          <p style="font-size: 1rem;">{{ 'CONNECTIONS_NO_ITEMS_TEXT' | translate }}</p>
          <ion-item lines="none" tappable (click)="goToSearchContacts()">
            <ion-icon slot="start" color="primary" name="search" alt="logo-search" style="font-size: 1.5 rem;"></ion-icon>
            <ion-label stacked color="primary">
              {{ 'CONNECTIONS_NO_ITEMS_BUTTON' | translate }}
            </ion-label>
          </ion-item>
          <ion-item lines="none" (click)="linkFacebook()">
            <ion-icon slot="start" color="primary" name="logo-facebook" alt="logo-facebook" style="font-size: 1.5rem;"></ion-icon>
            <ion-label stacked color="primary">
              {{ 'CONNECTIONS_FACEBOOK_BUTTON' | translate }}
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <app-connections-following *ngSwitchCase="'following'" [connectionsFollowing]="connectionsFollowingList"></app-connections-following>
    </div>
    <div *ngSwitchCase="'followers'" class="animated fadeIn">
      <ion-card class="noItems" *ngIf="connectionsFollowersList.length<=0 && !followersLoading">
        <ion-card-content>
          <p style="font-size: 1rem;">{{ 'CONNECTIONS_NO_ITEMS_TEXT' | translate }}</p>
          <ion-item lines="none" tappable (click)="goToSearchContacts()">
            <ion-icon slot="start" color="primary" name="search" alt="logo-search" style="font-size: 1.5 rem;"></ion-icon>
            <ion-label stacked color="primary">
              {{ 'CONNECTIONS_NO_ITEMS_BUTTON' | translate }}
            </ion-label>
          </ion-item>
          <ion-item lines="none" (click)="linkFacebook()">
            <ion-icon slot="start" color="primary" name="logo-facebook" alt="logo-facebook" style="font-size: 1.5rem;"></ion-icon>
            <ion-label stacked color="primary">
              {{ 'CONNECTIONS_FACEBOOK_BUTTON' | translate }}
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <app-connections-followers *ngSwitchCase="'followers'" [connectionsFollowers]="connectionsFollowersList"></app-connections-followers>
    </div>
  </ion-list>
</ion-content>