.photo-item-main:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vW;
    background: rgba(0,0,0,0.25);
}
.photo-item-main{
    width: 100%;
    height: 100vW;
    .info {
        z-index: 1;
        top: 33vW;
        position: absolute;
        color: white;
        text-align: center;
        width: 100%;
        .title {
            display: block;
            font-size: 2rem;
        }
        .separator {
            width: 30px;
            height: 1rem;
            border-top: 2px solid var(--ion-color-secondary, green);
            margin: 0 auto;
            margin-top: 10px;
        }
        .location {
            display: block;
            font-size: 1.5rem;
        }
        .date {
            padding-top: 1rem;
            display: block;
            font-size: 1rem;
        }
    }
}
.photos-list {
    display: flex;
    flex-wrap: wrap;
    .photo-item {
        display: inline-block;
        width: 50vw;
        height: 50vw;
        border: 1px solid white;
        overflow-y: hidden;
        img {
            object-fit: cover;
            height: 56vw;
            width: 100%;
            object-position: top;
        }
    }
}

@import "./web-styles.scss";
