<app-header [notifications]="false" [close]="true" [back]="false" [title]="'Album' | translate"> </app-header>
<ion-content no-padding no-margin *ngIf="album">
    <div class="photo-item-main animated zoomIn">
        <img [src]="album.photos[0].thumbnail" zoom="false">
        <div class="info">
            <ion-text class="faceBold title"> {{album.title}}</ion-text>
            <div class="separator"></div>
            <ion-text class="faceBold address">{{album.photos.length}} photos</ion-text>
            <ion-text class="faceBold date">{{album.dateRange}}</ion-text>
        </div>
    </div>
    <div class="photos-list animated zoomIn">
        <div class="photo-item" *ngFor="let photo of album.photos | slice:1; let i = index;">
            <img [src]="photo.thumbnail">
        </div>
    </div>
</ion-content>