@media (min-width: 769px) {
  .full-album-header{
    img{
      max-width: 100%;
      border: 1px solid white;
    }
    .info-album{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      font-family: 'MontserratBold';
      background-color: rgba(0,0,0, 0.3);
      cursor: pointer;
      .title{
        font-size: 30px;
        padding-bottom: 20px;
        position: relative;
        &:after{
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          width: 26px;
          height: 3px;
          left: calc(50% - 13px);
          background-color: var(--ion-color-secondary);
        }
      }
      .address{
        font-size: 24px;
        margin-top: 20px;
      }
      .date{
        font-size: var(--xs-size);
      }
    }
  }
  .photo-list{
    margin-bottom: var(--lg-spacing);
    flex-wrap: wrap;
    .photo-item{
      cursor: pointer;
      width: 50%;
      border: 1px solid white;
    }
  }
}
