// @import "./web-styles.scss";
.color-secondary{
	color: var(--ion-color-secondary);
}
.photos-list-1 {
    .photo-item {
        width: 100vW !important;
        height: 100vW !important;
        img {
            height: 100% !important;
            width: 100% !important;
        }
    }
}
.photos-list {
    display: flex;
    flex-wrap: wrap;
    .photo-item {
        display: inline-block;
        width: 50vw;
        height: 50vw;
        border: 1px solid white;
        overflow-y: hidden;
        img {
            object-fit: cover;
            height: 56vw;
            width: 100%;
            object-position: top;
        }
        ion-icon {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 2rem;
            padding: 0.5rem;
        }
    }
}
.photos-list-3 {
    .photo-item {
        width: 33vW !important;
        height: 33vW !important;
        img {
            height: 100% !important;
            width: 100% !important;
        }
    }
}

.filter-it{
    display: table;
    ion-icon{
      font-size: 1.5rem;
    }
    span{
      vertical-align: middle;
      display: table-cell;
      padding-left: 1rem;
    }
  }