<app-header [back]="true" [title]="'SEARCH_TITLE' | translate | titlecase " [showAvatar]="false"></app-header>
<ion-card no-margin>
  <ion-card-content>
    <div class="filter-it" *ngIf="filters.startDate || filters.endDate">
      <ion-icon color="secondary" src="./assets/icons/svg-green/010-small-calendar.svg"></ion-icon>
      <span *ngIf="filters.startDate">
        {{filters.startDate | date:'dd/MM/yy HH:mm'}}
      </span>
      <span *ngIf="filters.startDate && filters.endDate">
        /
      </span>
      <span *ngIf="filters.endDate">
        {{filters.endDate | date:'dd/MM/yy HH:mm'}}
      </span>
    </div>
    <div class="filter-it" *ngIf="filters.address">
      <ion-icon color="secondary" src="./assets/icons/svg-green/008-placeholder.svg"></ion-icon>
      <span>
        {{filters.address}}
      </span>
    </div>
    <div class="filter-it" *ngIf="filters.hashtags.length > 0">
      <ion-icon color="secondary" src="./assets/icons/svg-green/009-hashtag.svg"></ion-icon>
      <span *ngFor="let hashtag of filters.hashtags">#{{hashtag.hashTag}}</span>
    </div>
    <div class="filter-it" *ngIf="filters.user">
      <ion-icon color="secondary" src="./assets/icons/svg-green/026-social.svg"></ion-icon>
      <span>@{{filters.user.nickname}}</span>
    </div>
  </ion-card-content>
</ion-card>
<ion-content class="content-form" *ngIf="isMobile && photos">
  <ion-grid no-padding no-margin>
    <ion-row *ngIf="segmentSelected==='gallery' && photos.length > 0">
      <div class="photos-list animated fadeIn" [ngClass]="{'photos-list-3': photos.length>=4, 'photos-list-1': photos.length<=3}">
        <div class="photo-item" *ngFor="let photo of photos" tappable (click)="goToDetailPhoto(photo.id)">
          <img [src]="photo.thumbnail">
        </div>
      </div>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMorePhotos($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" tappable (click)="goToSearchResultsMap()">
      <ion-icon name="ios-icon-locate-white"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>