.album-indicator {
    --background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--ion-color-light, white);
    ion-icon {
        margin-left: 10px;
    }
}

.separator {
    width: 30px;
    height: 10px;
    border-top: 2px solid var(--ion-color-secondary, green);
    margin: 0 auto;
    margin-top: 10px;
}


.user-info {
    --background: linear-gradient(to top, #000000,rgba(0,0,0,0)) !important;
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    ion-avatar {
        margin-right: 0.5rem;
    }
    ion-icon {
        position: absolute;
        left: 33vW;
    }
}



ion-card {
    border-radius: 0;
    ion-card-header {

        figure{
            margin: 0;
            // height: 100vW;
            // width: 100%;
            .picture {
                height: 100vW;
                // width: 100%;
            }
        }
        
        .user-info {
            --background: linear-gradient(to top, #000000,rgba(0,0,0,0)) !important;
            position: absolute;
            width: 100%;
            bottom: 0;
            ion-avatar {
                margin-right: 0.5rem;
            }
            ion-icon {}
        }
        .user-info::before{
            width: 100%;
            height: 100%;
            position: absolute;
            content: "";
            background: linear-gradient(to top, #000000,rgba(0,0,0,0)) !important;
            opacity: 0.5;
        }
    }
    ion-card-content {
        padding: 1rem;
        .hashtags {
            ion-text {
                margin-right: 0.75rem;
                font-size: 0.75rem;
                color: var(--ion-color-primary, fuchsia);
            }
        }
        .separator {
            width: 30px;
            border-top: 2px solid var(--ion-color-secondary, green);
            margin: 0 auto;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        .location {
            font-size: 0.75rem;
        }
        .date {
            display: block;
            font-size: 0.75rem;
            padding: 0.5rem;
        }
    }
}

