<ion-card mode="md" no-margin>
  <ion-card-header no-padding>
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let photo of album.photos; let i=index" zoom="false">
        <figure>
          <img tappable (click)="goToDetailAlbum(album)" class="picture" [src]="photo.thumbnail" />
        </figure>
        <ion-item lines="none" class="album-indicator">
          <ion-text><strong>{{i+1}}</strong> / {{album.photos.length}}</ion-text>
          <ion-icon name="ios-icon-hand"></ion-icon>
        </ion-item>
      </ion-slide>
    </ion-slides>
    <ion-item lines="none" class="user-info">
      <ion-avatar tappable (click)="goPublicProfile(album.user)" slot="start"> <img [src]="album.user.avatar">
      </ion-avatar>
      <ion-text style="padding-left:0!important;"><small tappable (click)="goPublicProfile(album.user)" class="faceBold">@{{album.user.nickname}}</small></ion-text>
    </ion-item>
  </ion-card-header>
  <ion-card-content text-center>
    <ion-text>
      <p>{{album.title}}</p>
    </ion-text>
    <div class="separator"> </div>
    <ion-text color="primary">
      <small> {{ (album.location.address.length>80)? (album.location.address |
        slice:0:80)+'..':(album.location.address) }} </small>
      <small *ngIf="!album.photos[0].location"> Location Undefined </small>
    </ion-text>
    <ion-text class="date" color="dark">
      <ion-text>{{album.dateRange}}</ion-text>
    </ion-text>
  </ion-card-content>
</ion-card>
