@media(min-width: 769px) {
  .card{
    border: 0;
    margin-bottom: var(--md-spacing);
    box-shadow: 10px 0px 20px #eee;
  }
  .album-slide-wrapper{
    position: relative;
    .move-slide{
      position: absolute;
      top: calc(50% - 12px);
      img{
        width: 24px;
        height: 24px;
      }
      &.prev{
        left: -50px;
      }
      &.next{
        right: -50px;
      }
    }
    ion-slides{
      height: 600px !important;
    }
    .img-container{
      cursor: pointer;
      background-position: center !important;
      padding-bottom: 0px;
    }
    .actions{
      position: relative;
    }
    .photo-of-album{
      position: relative  !important;
      bottom: inherit !important;
      right: inherit !important;
      left: inherit !important;
    }
    .icon-hand{
      position: absolute;
      left: calc(50% - 9px);
      ion-icon{
        left: 0;
        position: relative;
      }
    }
    .img-filter{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      cursor: pointer;
    }
    .img-container{
      width: 100%;
      height: 100%;
    }
  }
}
