<app-header [back]="false" [close]="true" [title]="'NOTIFICATIONS_TITLE' | translate | titlecase" [showAvatar]="true" [notifications]="false"
  *ngIf="isMobile">
</app-header>

<ion-content no-margin no-padding *ngIf="isMobile">
  <!-- <p text-center class="mt-2 pt-2 no-notifications" *ngIf="notificationsList.length == 0">
    You don't have notifications by now.
  </p> -->
  <ion-list *ngIf="notificationsList.length > 0">
    <ion-item-divider style="background-color:#FFF;">
      <ion-button tappable (click)="markAllNotificationsAsReaded()" slot="end" color="primary" fill="clear">
          {{ 'NOTIFICATIONS_DELETE' | translate }}
      </ion-button>
    </ion-item-divider>
    <ion-item #item *ngFor="let notification of notificationsList">
      <ion-avatar slot="start">
        <img [src]="notification.image || '/assets/imgs/logo-cam-fb.png'" tappable (click)="goToDetailPhoto(notification.relatedItemKey)">
      </ion-avatar>
      <ion-label text-wrap tappable (click)="goToDetailPhoto(notification.relatedItemKey)">
        <ion-text style="padding:0 !important;">
          <h3>{{notification.title}}</h3>
        </ion-text>
        <ion-text color="secondary" style="padding:0 !important;">
          <p>{{notification._dateToShow()}}</p>
        </ion-text>
      </ion-label>
      <ion-button disabled="true" fill="clear" slot="end" *ngIf="notification.isNew && notification.key!='ENABLE_USER_TAG'">
        <div class="new-one-app"></div>
      </ion-button>

      <ion-icon name="checkmark" (click)="acceptTag(notification)" slot="end" class="accept_usertag" *ngIf="notification.key==='ENABLE_USER_TAG'"></ion-icon>
      <ion-icon name="close" (click)="rejectTag(notification)" slot="end" class="reject_usertag" *ngIf="notification.key==='ENABLE_USER_TAG'"></ion-icon>

      <ion-button fill="clear" slot="end" tappable (click)="deleteNotification(notification)" *ngIf="notification.key!='ENABLE_USER_TAG'">
        <ion-icon src="./assets/icons/svg-pink/005-rubbish.svg"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>