
@import "./web-styles.scss";
.new-one-app{
	background-color: var(--ion-color-primary);
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.accept_usertag{
	color: var(--ion-color-secondary);
	font-weight: bold;
	font-size: 3rem;
	margin: 0;
}
.reject_usertag{
	color: var(--ion-color-danger);
	font-weight: bold;
	font-size: 1.5rem;
}