@media (min-width: 769px) {
  .notifications-container{
    margin-bottom: var(--lg-spacing);
    .notification{
      border: 1px solid #EEEEEE;
      padding-top: var(--sm-spacing);
      padding-bottom: var(--sm-spacing);
      .avatar{
        width: 10%;
        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
      .info-wrapper{
        width: 80%;
        font-size: 12px;
        color: #595959;
        .date{
          font-size: 9px;
          color: var(--ion-color-secondary);
        }
      }
      .notification-led{
        width: 10%;
      }
      .new-one{
        background-color: var(--ion-color-primary);
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
      .delete-noti{
        width: 12px;
        margin-right: var(--sm-spacing);
      }
    }
    .remove-all-notifications{
      margin-bottom: var(--sm-spacing);
      span{
        font-size: var(--xxs-size);
        color: var(--ion-color-primary); 
        font-family: 'MontserratBold' !important;
      }
      img{
        width: 15px;
        height: 15px;
      }
    }
    .no-notifications{
      text-align: center;
      font-size: 12px;
      color: #595959;
    }
  }
}
