ion-card {
    z-index: 0;
    background-size: cover !important;
    background-position: center !important; // text-shadow: 0px 1px 5px var(--ion-color-dark, black);
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding-bottom: 0;
    border-radius: 0 !important;
    ion-avatar {
        border: 2px solid var(--ion-color-primary, fuchsia);
        height: 55px;
        width: 55px;
    }
    ion-card-title {
        padding-top: 0.5rem;
    }
    ion-card-subtitle {
        font-size: 0.6rem;
        text-transform: capitalize !important;
    }
    ion-card-content {
        padding-top: 1rem;
        color: var(--ion-color-light, white);
        .data-counters {
            ion-col {
                span {
                    font-family: "MontserratRegular" !important;
                    font-size: 1.5rem;
                    display: block;
                    line-height: 1;
                }
                small {
                    font-family: "MontserratRegular" !important;
                    font-size: 0.75rem;
                    text-transform: uppercase;
                }
            }
        }
    }
}

ion-card-content::after {
    z-index: -1 !important;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(231, 56, 39, 1);
    background: -moz-linear-gradient(-45deg, rgba(231, 56, 39, 1) 0%, rgba(125, 181, 168, 1) 25%, rgba(87, 226, 215, 1) 34%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(231, 56, 39, 1)), color-stop(25%, rgba(125, 181, 168, 1)), color-stop(34%, rgba(87, 226, 215, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(231, 56, 39, 1) 0%, rgba(125, 181, 168, 1) 25%, rgba(87, 226, 215, 1) 34%);
    background: -o-linear-gradient(-45deg, rgba(231, 56, 39, 1) 0%, rgba(125, 181, 168, 1) 25%, rgba(87, 226, 215, 1) 34%);
    background: -ms-linear-gradient(-45deg, rgba(231, 56, 39, 1) 0%, rgba(125, 181, 168, 1) 25%, rgba(87, 226, 215, 1) 34%);
    background: linear-gradient(135deg, rgba(231, 56, 39, 1) 0%, rgba(125, 181, 168, 1) 25%, rgba(87, 226, 215, 1) 34%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#57e2d7', GradientType=1);
}

.imagenFondo {
    z-index: -1 !important;
    opacity: 0.5;
    margin: -20px;
    top: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-segment-button{
    background: #b2b3b23d !important;
    --border-color: transparent;
    --padding-bottom: 1rem;
    --padding-top: 1rem;
    --border-radius: 0;
}
.segment-button-checked{
    background: white !important;
}