<ion-card no-margin no-padding class="user-info-card">
  <ion-card-content text-center *ngIf="user">
    <div [ngStyle]="{'background-image': 'url(' + user.avatar + ')'}" class="imagenFondo"></div>
    <ion-avatar text-center center style="margin: auto;">
      <img [src]="user.avatar || '/assets/imgs/logo-cam-fb.png'">
    </ion-avatar>
    <ion-card-title color="light">@{{user.nickname}}</ion-card-title>
    <ion-card-subtitle class="faceRegular" color="light">{{user._fullName()}}</ion-card-subtitle>
    <ion-row class="data-counters" *ngIf="isMobile">
      <ion-col size="4">
        <span>{{user.numTaggedIn}} </span>
        <small>{{ 'USER_INFO_TAGS' | translate }}</small>
      </ion-col>
      <ion-col size="4">
          <span>{{user._numPublications()}} </span>
        <small>{{ 'USER_INFO_PHOTOS' | translate }}</small>
      </ion-col>
      <ion-col size="4">
          <span>{{user.numConnections}} </span>
          <small>{{ 'USER_INFO_CONTACTS' | translate }}</small>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button tappable (click)="actionButton()" size="small" shape="round" color="primary">{{txtBtnName}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
