@media(min-width: 769px) {
  ion-card-header{
    ion-avatar{
      height: 75px !important;
      width: 75px !important;
    }
    ion-card-subtitle{
        font-size: 0.75rem !important;
    }
  }
  .user-info-card{
    padding-top: var(--sm-spacing);
    padding-bottom: var(--sm-spacing);
  }
  .user-numbers{
    padding-top: 25px;
    .number{
      font-family: 'Montserrat';
      font-size: 24px;
      color: var(--ion-color-primary);
    }
    .name{
      font-family: 'Montserrat';
      font-size: 12px;
      color: var(--ion-color-primary);
    }
  }
}
