.toogleVisibility {
    text-align: center;
}

.toogleShowHideComments {
    span {
        text-align: center;
        width: 100%;
        font-family: "MontserratBold" !important;
        color: var(--ion-color-primary, fuchsia);
        font-size: 1rem;
        padding: 1rem;
    }
}

ion-list {
    height: 75%;
    overflow-y: scroll;
}

.user-info {
    padding-left: 1rem;
    padding-right: 1rem;
    .username {
        width: 100%;
        font-size: 1rem;
        font-family: "Montserrat" !important;
        color:  var(--ion-color-primary, fuchsia);
    }
}

.comment {
    width: 100%;
    padding-left: 20%;
    color: #595959;
    padding-bottom: 1rem;
}

.date {
    font-size: 0.75rem;
    text-align: right;
    color: #595959;
    font-family: "Montserrat" !important;
}

.input-new-comment {
    background: white;
    padding-top: 0 !important;
    border-top: 1px solid var(--ion-color-primary, fuchsia);
    position: absolute;
    bottom: 5%;
    width: 100%;
    ion-input {
        border: 1px solid var(--ion-color-primary, fuchsia);
        border-radius: 25px;
        width: 100%;
        margin: 1rem;
        color: #595959;
        text-align: left;

        padding-top: 0px !important;
        padding-bottom: 0.75rem !important;
        padding-left: 0.5rem !important;
        // --padding-start: 0.75rem;
        // --padding-end: 0.75rem;
        input{
            padding-bottom: 1rem !important;
        }
    }
    .icon-send{
        position: absolute;
        right: 3.5rem;
        font-size: 1rem;
        z-index: 10;
    }
}
