<app-header [close]="true" [notifications]="false" [title]="'COMMENTS_TITLE' | translate | titlecase" [showAvatar]="false"
  *ngIf="isMobile">
</app-header>

<ion-content>

  <div style="height:85%; overflow-y: auto">
    <ion-card *ngFor="let comment of comments">
      <ion-card-content>
        <ion-item class="user-info" style="padding:0" lines="none" no-padding no-margin>
          <ion-avatar slot="start"> <img [src]="comment.user.avatar"> </ion-avatar>
          <ion-label>
            <span class="username faceBold">@{{comment.user.nickname}}</span>
          </ion-label>
        </ion-item>
        <div class="comment">{{comment.comment}}</div>
        <div class="date"> {{comment._dateToShow()}}</div>
      </ion-card-content>
    </ion-card>
  </div>


  <ion-item lines="none" class="input-new-comment">
    <ion-input [(ngModel)]="newComment" type="text" placeholder="{{ 'COMMENTS_PLACEHOLDER' | translate }}">
      </ion-input>
    <ion-icon class="icon-send" name="ios-icon-send" tappable (click)="addComment()"></ion-icon>
  </ion-item>
</ion-content>