@media (min-width: 769px) {
  .comments-web-wrap{
    .comment{
      padding-left: 0;
      .user{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .avatar{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-size: cover !important;
          background-repeat: no-repeat !important;
          background-position: center !important;
        }
        span{
          font-family: 'MontserratBold' !important;
          font-size: var(--xxs-size);
          margin-left: 10px;
        }
      }
      .comment-text{
        text-align: left;
        p{
          margin-left: 55px;
          margin-top: 0;
          margin-bottom: 0;
          color: var(--ion-color-dark);
          font-size: 11px;
        }
      }
      .date{
        p{
          text-align: right;
          color: var(--ion-color-dark);
          font-size: 8px;
        }
      }
    }
  }
  .no-comments{
    text-align: center;
  }
  .comment-input-wrapper{
    margin-top: var(--md-spacing);
    margin-bottom: var(--lg-spacing);
    input{
      width: 315px;
      border-radius: 50px;
      border: 1px solid var(--color-light-grey);
      padding: var(--sm-spacing);
      color: var(--ion-color-dark);
      font-size: var(--xxs-size);
      &::placeholder{
        color: var(--color-light-grey);
      }
      &:focus{
        outline: none;
      }
    }
    .send-icon{
      color: var(--color-light-grey);
      position: relative;
      left: -30px;
      cursor: pointer;
    }
  }
}
