<app-header *ngIf="!isLoading" [back]="true" [title]="'PUBLIC_PROFILE_TITLE' | translate | titlecase" [showAvatar]="false">t</app-header>
<ion-content *ngIf="!isLoading">
  <c-user-info *ngIf="user" [user]="user" [btnName]="'Follow'"></c-user-info>
  <ion-segment [(ngModel)]="segmentSelected" mode="md" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="albums"> {{ 'PUBLIC_PROFILE_ALBUMS' | translate }} </ion-segment-button>
    <ion-segment-button value="photos"> {{ 'PUBLIC_PROFILE_PHOTOS' | translate }} </ion-segment-button>
    <ion-segment-button value="tagged"> 
         &nbsp; &nbsp;
        {{ 'PUBLIC_PROFILE_TAGS' | translate }}
        &nbsp; &nbsp;
      </ion-segment-button>
  </ion-segment>
  <div class="albums-list animated fadeIn" *ngIf="segmentSelected==='albums'">
    <div class="album-item" *ngFor="let album of albums" tappable (click)="goToDetailAlbum(album)">
      <figure [ngClass]="album.photos[0].filter">
        <img [src]="album.photos[0].thumbnail">
      </figure>
      <div class="info">
        <h3 class="title faceBold">{{album.title}}</h3>
        <div class="separator"></div>
        <small class="date faceBold">{{album.dateRange}}</small>
      </div>
    </div>
  </div>
  <div class="photos-list animated fadeIn" *ngIf="segmentSelected==='photos'">
    <div class="photo-item" *ngFor="let photo of photos" tappable (click)="goToDetailPhoto(photo)">
      <figure>
        <img [src]="photo.thumbnail"/>
      </figure>
      <ion-icon *ngIf="!photo.isPublic" name="lock"></ion-icon>
    </div>
  </div>
  <div class="photos-list animated fadeIn" *ngIf="segmentSelected==='tagged'">
    <div class="photo-item" *ngFor="let photo of photosTagged" tappable (click)="goToDetailPhoto(photo)">
      <figure>
        <img [src]="photo.thumbnail" />
      </figure>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>