@media(min-width: 769px) {
  .profile-tabs{
    margin-bottom: var(--md-spacing);
  }
  .photos-list{
    .photo-item{
      width: 33%;
      height: 33%;
      img{
        height: inherit;
      }
    }
  }
  .albums-list{
    display: flex;
    flex-wrap: wrap;

    .album-item{
      width: 50%;
      height: 200px;
      .location{
        font-size: var(--xs-size);
        margin-bottom: 0;
      }
      .date{
        font-size: 10px;
      }
    }
  }
}
