<app-header [refreshIcon]="true" [showAvatar]="false" [title]="'GENERIC_APP_TITLE' | translate | titlecase"></app-header>
<ion-content #content>
    <div class="animated fadeIn" *ngFor="let item of listItems" id="{{item.id}}">
        <app-photo *ngIf="item._itemType() === 'picture'" [photo]="item"></app-photo>
        <app-album *ngIf="item._itemType() === 'album' && item.photos.length>0" [album]="item"></app-album>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>