ion-searchbar {
    --icon-color: var(--ion-color-primary, fuchsia);
    input {
        background-color: #FFFFFF;
        box-shadow: -16px 0px 25px 0px rgba(0, 0, 0, 0.15);
        border: 1px solid #FF4365 !important;
        border-radius: 25px;
    }
}

ion-item {
    font-size: 1rem;
    color: var(--ion-color-secondary, green);
    font-family: "MontserratRegular" !important;
}

.btn-currentLocation {
    color: var(--ion-color-primary, fuchsia) !important;
    font-size: 1rem;
    // border-radius: 25px;
    // border: 1px solid var(--ion-color-primary, fuchsia);
    padding: 1rem;
    padding-top: 0 !important;
    background: white;
    font-weight: bold;
    span {
        font-family: "MontserratBold" !important;
        ion-icon {
            color: var(--ion-color-secondary, green);
        }
    }
}