<app-header [back]="false" [notifications]="false" [close]="true" [title]="'SEARCH_ADDRESS_TITLE' | translate | titlecase" [showAvatar]="false"></app-header>
<ion-content no-padding no-margin>
  <ion-searchbar [(ngModel)]="inputAddress" (ionChange)="searchAddress($event)" (ionCancel)="clearAddresses()"></ion-searchbar>
  <ion-card *ngIf="addressResults.length>0">
    <ion-card-content>
      <ion-list lines="none">
        <ion-item *ngFor="let item of addressResults" lines="none">
          <ion-text tappable (click)="selectAddresFromList(item);">
            <ion-icon name="locate" style="padding-right:1rem" color="primary"></ion-icon>
            <span>{{item.formatted}}</span>
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card [hidden]="!markerActive">
    <ion-card-content style="padding: 0 !important; text-align: center;">
      <div #gmapAppSearch id="googleMapsWrapperSearch" style="width:100%;height:300px" *ngIf="myLocation"></div>
      <ion-item lines="none" text-center *ngIf="markerActive"> 
        <span style="width:100%; padding: 1rem;">          
          {{markerActive.address}}
        </span>
      </ion-item>
      <button style="margin-bottom:1rem; padding-top:0;" ion-button block center class="btn-currentLocation" (click)="selectMarkerToReturn()">
        <span tappable style="width:100%;">
          {{ 'SEARCH_ADDRESS_USE_CUSTOM_LOCATION' | translate }}
        </span>
      </button>
    </ion-card-content>
  </ion-card>

  <ion-card class="currentLocation" *ngIf="myLocation">
    <ion-card-header text-center>
      <ion-card-subtitle text-center *ngIf="myLocation.address">{{myLocation.address}}</ion-card-subtitle>
      <ion-spinner *ngIf="!myLocation.address"></ion-spinner>
    </ion-card-header>
    <ion-card-content text-center style="text-align: center; padding-top: 0;" *ngIf="myLocation.address">
      <button ion-button block center class="btn-currentLocation" (click)="selectCurrentLocationToReturn()">
        <span tappable style="width:100%;">
          {{ 'SEARCH_ADDRESS_USE_CURRENT_LOCATION' | translate }}
        </span>
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>