<app-header [close]="true" (evtDismiss)="dismiss()" [title]="'Facebook Contacts'" [showAvatar]="false" [notifications]="false">
</app-header>

<ion-content no-padding no-margin>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none" text-center >
          <ion-icon style="font-size:2rem; color: #29487D;" name="logo-facebook"></ion-icon>
          <p style="text-align: center; width: 100%">
            <strong>Facebook Contacts Found</strong>
            <span>(Fake contacts)</span>
          </p>
      </ion-item>
      <ion-list lines="none">
        <ion-item *ngFor="let item of items" style="padding:0;">
          <ion-avatar item-left>
            <img [src]="item.avatar">
          </ion-avatar>
          <p style="padding: 1rem;"> {{item.name}}</p>
          <ion-button style="position: absolute; right:0;"> Connect</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>