
ion-card {
    border-radius: 0 !important;
    border: 1px solid white;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.albums-list {
    .album-item:after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
    }
    .album-item {
        border: 1px solid white;
        position: relative;
        display: flex;
        align-items: center;
        height: 56vW;
        overflow-y: hidden;
        figure {
            margin: 0;
            height: 56vw;
            img {
                position: absolute;
                object-fit: cover;
                object-position: top;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .album-picture {
            height: 100%;
            width: 100%;
            position: absolute;
        }
        .info {
            z-index: 1;
            position: relative;
            color: white;
            text-align: center;
            width: 100%;
            .title {
                display: block;
                margin: 0 !important;
            }
            .separator {
                width: 30px;
                border-top: 2px solid var(--ion-color-secondary, green);
                margin: 0 auto;
                padding-top: 1rem;
                margin-top: 1rem;
            }
            .location {
                display: block;
                font-size: 1rem;
            }
            .date {
                display: block;
                font-size: 0.75rem;
            }
        }
    }
}

.photos-list {
    display: flex;
    flex-wrap: wrap;
    .photo-item {
        display: inline-block;
        width: 50vw;
        height: 50vw;
        border: 1px solid white;
        overflow-y: hidden;
        figure {
            margin: 0;
            height: 56vw;
            width: 100%;
            img {
                object-fit: cover;
                height: 56vw;
                width: 100%;
                object-position: top;
            }
        }
        .photo-picture {
            height: 56vw;
            width: 100%;
        }
        // ion-icon {
        //     position: absolute;
        //     right: 0;
        //     top: 0;
        //     font-size: 2rem;
        //     padding: 0.5rem;
        // }
    }
}

.toogle-private {
    color: #B2B3B2;
    ion-label {
        font-size: 0.75rem;
    }
}

.icon-private{
    position: absolute;
    padding: 0.25rem;
    color:   var(--ion-color-secondary, green);
}


ion-segment-button{
    background: #b2b3b23d !important;
    --border-color: transparent;
    --padding-bottom: 1rem;
    --padding-top: 1rem;
    --border-radius: 0;
}
.segment-button-checked{
    background: white !important;
}