<app-header [refreshIcon]="true" [showAvatar]="false" [title]="'MY_PROFILE_TITLE' | translate | titlecase"> </app-header>
<ion-content *ngIf="user">
  <c-user-info [user]="user" [isMyUser]="true"></c-user-info>
  <ion-segment [(ngModel)]="segmentSelected" mode="md" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="albums"> {{ 'MY_PROFILE_ALBUMS' | translate }} </ion-segment-button>
    <ion-segment-button value="photos"> {{ 'MY_PROFILE_PHOTOS' | translate }} </ion-segment-button>
    <ion-segment-button value="tagged"> 
      &nbsp; &nbsp;
      {{ 'MY_PROFILE_TAGS' | translate }}
      &nbsp; &nbsp;
    </ion-segment-button>
  </ion-segment>
  <ion-item class="toogle-private" lines="none" *ngIf="segmentSelected!='tagged'">
    <ion-label text-right>{{ 'MY_PROFILE_PRIVATE' | translate }}</ion-label>
    <ion-toggle mode="ios" checked="false" [(ngModel)]="isPrivate"></ion-toggle>
  </ion-item>
  <div class="albums-list animated fadeIn" *ngIf="segmentSelected==='albums' && !isPrivate">
    <!-- Albums Public-->
    <div class="album-item" *ngFor="let album of albums" tappable (click)="goToDetailAlbum(album)">
      <figure *ngIf="album.photos.length>0">
        <img [src]="album.photos[0].thumbnail">
      </figure>
      <div class="info">
        <h3 class="title faceBold">{{album.title}}</h3>
        <div class="separator"></div>
        <!-- <h4 class="location faceBold">{{album.photos.length}} Photos</h4> -->
        <small class="date faceBold">{{album.dateRange}}</small>
      </div>
    </div>
  </div>
  <div class="albums-list animated fadeIn" *ngIf="segmentSelected==='albums' && isPrivate">
    <!-- Albums Private-->
    <div class="album-item" *ngFor="let album of albumsPrivate" tappable (click)="goToDetailAlbum(album)">
      <ion-icon style="z-index:1; top:0;" name="lock" class="icon-private"></ion-icon>
      <figure *ngIf="album.photos.length>0">
        <img [src]="album.photos[0].thumbnail">
      </figure>
      <div class="info">
        <h3 class="title faceBold">{{album.title}}</h3>
        <div class="separator"></div>
        <small class="date faceBold">{{album.dateRange}}</small>
      </div>
    </div>
  </div>
  <div class="photos-list animated fadeIn" *ngIf="segmentSelected==='photos' && !isPrivate">
    <div class="photo-item" *ngFor="let photo of photos" tappable (click)="goToDetailPhoto(photo)">
      <figure>
        <img [src]="photo.thumbnail" />
      </figure>
    </div>
  </div>
  <div class="photos-list animated fadeIn" *ngIf="segmentSelected==='photos' && isPrivate">
    <div class="photo-item" *ngFor="let photo of photosPrivate" tappable (click)="goToDetailPhoto(photo)">
      <ion-icon name="lock" class="icon-private"></ion-icon>
      <figure>
        <img [src]="photo.thumbnail" />
      </figure>
    </div>
  </div>
  <div class="photos-list animated fadeIn" *ngIf="segmentSelected==='tagged'">
    <div class="photo-item" *ngFor="let photo of photosTagged" tappable (click)="goToDetailPhoto(photo)">
      <ion-icon *ngIf="!photo.isPublic" class="icon-private" name="lock"></ion-icon>
      <figure>
        <img [src]="photo.thumbnail" />
      </figure>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>