@media(min-width: 769px) {
  .photos-list{
    .photo-item{
      width: 33%;
      height: 33%;
      img{
        height: inherit;
      }
    }
  }
  .toogle-private{
    margin-top: 19px;
    margin-bottom: 19px;
    .toggle-small{
      zoom: 0.7;
    }
  }
  .albums-list{
    display: flex;
    flex-wrap: wrap;
    .album-item{
      width: 50%;
      height: 200px;
      .location{
        font-size: var(--xs-size);
        margin-bottom: 0;
      }
      .date{
        font-size: 10px;
      }
    }
  }
}
