
<ion-tabs mode="ios" (ionChange)="tabIsChanged($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="timeline" href="/tabs/(timeline:timeline)">
      <ion-icon name="images"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search" href="/tabs/(search:search)">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="openModalNewpost()">
      <ion-icon style="font-size:3rem; width: 100%; height: 100%;" name="ios-icon-button-lens"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="connections" href="/tabs/(connections:connections)">
      <ion-icon name="people"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="my-profile" href="/tabs/(my-profile:my-profile)">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>