.tab-selected{
    color: #00D9C0;
}


// .timeline-icon {
//     position: absolute;
//     width: 45px;
//     height: 45px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     bottom: -50px; // left: calc(50% - 30px);
//     z-index: 100;
//     left: 15px;
//     border-radius: 35px;
//     img {
//         padding: 20%;
//     }
// }

// .search-icon {
//     position: absolute;
//     width: 45px;
//     height: 45px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     bottom: -50px;
//     left: calc(33% - 40px);
//     z-index: 100;
//     border-radius: 35px;
//     img {
//         padding: 20%;
//     }
// }

// .new-post-icon {
//     position: absolute;
//     width: 60px;
//     height: 60px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     bottom: 50px;
//     left: calc(50% - 30px);
//     z-index: 100;
//     background: var(--ion-color-primary, fuchsia);
//     border-radius: 35px;
//     img {
//         padding: 20%;
//     }
// }

// .connections-icon {
//     position: absolute;
//     width: 45px;
//     height: 45px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     bottom: -50px;
//     left: calc(75% - 40px);
//     z-index: 100;
//     border-radius: 35px;
//     img {
//         padding: 20%;
//     }
// }

// .my-profile-icon {
//     position: absolute;
//     width: 45px;
//     height: 45px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     bottom: -50px;
//     right: 15px;
//     z-index: 100;
//     border-radius: 35px;
//     img {
//         padding: 20%;
//     }
// }

// .tab-selected 
// color:{
//     position: absolute;
//     bottom: 0;
//     width: 20%;
//     height: auto;
//     border-top: 3px solid var(--ion-color-secondary, green);
// }

// .background-buttons {
//     background: white;
//     position: absolute;
//     width: 100%;
//     height: 51px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     bottom: -51px;
//     z-index: 9999 !important;
// }



// // :host ::ng-deep slot ion-tabbar {
// /
// color:/     background: red !important;
// // }

// // :host ::ng-deep child.class1 {
// //     color: yellow;
// // }

// // :host ::ng-deep child.class2 {
// //     color: pink;
// // }

// // .tab-btn-selec
// color:ted, .tab-btn:hover
// color: {
// //     color:blue !important;
// //     }
    

// .btn-open-new-post{
//     // border: 1px dashed red;
//     width: 20vW;
//     height: 80px;
//     position: fixed;
//     bottom: 0;
//     left: 40vW;
// }
