@media (min-width: 769px) {
  .web-nav-bar {
    position: fixed;
    width: 100%;
    height: 66px;
    background: white;
    display: flex;
    align-items: center;
    box-shadow: 2px -4px 12px;
    .nav-wrap{
      justify-content: space-between;
      .nav-items{
        .item{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: var(--md-spacing);
          color: var(--ion-color-primary);
          cursor: pointer;
          img{
            width: 16px;
            height: 16px;
            margin-right: 5px;
          }
          span{
            font-size: 14px;
          }
          &.tab-active, &.tab-active span{
            font-family: 'MontserratBold' !important;
          }
          .btn-icon-avatar{
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
