<ion-item *ngFor="let item of connectionsFollowing" class="connection-item">
  <ion-avatar item-left class="cursor-pointer" tappable (click)="goToPublicProfile(item)">
    <img [src]="item.user.avatar || '/assets/imgs/logo-cam-fb.png'">
  </ion-avatar>
  <ion-label class="cursor-pointer" tappable (click)="goToPublicProfile(item)" no-lines margin-left padding>@{{item.user.nickname}}</ion-label>
  <ion-button shape="round" color="primary" tappable (click)="unFollow(item)">{{ 'CONNECTIONS_FOLLOWINGS_FOLLOWER' | translate }}</ion-button>
</ion-item>


<!-- <ion-item class="no-items" *ngIf="connectionsFollowing.length===0">
  <span>
    {{ 'GENERIC_NO_ITEMS' | translate }}
  </span>
</ion-item> -->