ion-item{
    ion-avatar{

    }
    ion-label{
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
        padding-left: 0.5rem !important;
        font-size: 0.75rem;
        color: var(--ion-color-primary, fuchsia);
        font-family: "MontserratRegular" !important;
    }
    ion-button{

    }
    .txt-you-are{
        font-size: 0.6rem;
        color: #B2B3B2;
        padding-right: 1rem;
    }
}

.no-items{
    text-align: center !important;
    span{
        width: 100%;
    }
}

@import "./web-styles.scss";
