<app-header [showAvatar]="false" [back]="true" [notifications]="false" [title]="title | titlecase"> </app-header>
<ion-content no-padding>
  <ion-card (click)="changeCardSelected('email')" [ngClass]="{'cardSelected': cardSelected != 'email'}">
    <ion-card-header>
      <ion-card-subtitle text-center class="faceBold">{{ 'FORGOT_MESSAGE' | translate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="email" lines="none">
        <img [src]="'assets/icons/svg-green/026-social.svg'" class="icon">
        <input [(ngModel)]="form.email" (change)="checkForm1IsValid()" type="email" placeholder="{{ 'FORGOT_EMAIL_PLACEHOLDER' | translate }}">
      </ion-item>
      <!-- <ion-item class="error" [hidden]="!errorMsgEmail">
        <span>{{errorMsgEmail}}</span>
      </ion-item> -->
      <ion-button shape="round" expand="full" class="btn-accept" tappable (click)="sendCode()">
        {{ 'FORGOT_BUTTON_RESET' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="changeCardSelected('code')" [ngClass]="{'cardSelected': cardSelected != 'code'}">
    <ion-card-header>
      <ion-card-subtitle text-center class="faceBold">{{ 'FORGOT_MESSAGE_CODE' | translate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="email" lines="none">
        <img [src]="'assets/icons/svg-green/026-social.svg'" class="icon">
        <input [(ngModel)]="form.email2" type="email" placeholder="{{ 'FORGOT_EMAIL_PLACEHOLDER' | translate }}">
      </ion-item>
      <ion-item class="email" lines="none">
        <img [src]="'assets/icons/svg-green/027-lock.svg'" class="icon">
        <input [(ngModel)]="form.code" min="5" max="5" type="number" placeholder="{{ 'FORGOT_CODE_PLACEHOLDER' | translate }}">
      </ion-item>
      <ion-item class="password" lines="none">
        <img [src]="'assets/icons/svg-green/027-lock.svg'" class="icon">
        <input [(ngModel)]="form.password" type="password" placeholder="{{ 'FORGOT_NEWPASS_PLACEHOLDER' | translate }}">
      </ion-item>
      <ion-item class="password" lines="none">
        <img [src]="'assets/icons/svg-green/027-lock.svg'" class="icon">
        <input [(ngModel)]="form.repeatPassword" type="password" placeholder="{{ 'FORGOT_NEWPASS_REPEAT_PLACEHOLDER' | translate }}">
      </ion-item>
      <!-- <ion-item class="error" [hidden]="!errorMsgChangePassword">
        <span>{{errorMsgChangePassword}}</span>
      </ion-item> -->
      <ion-button shape="round" expand="full" class="btn-accept" tappable (click)="sendPassword()">
        {{ 'FORGOT_BUTTON_CHANGE' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
