ion-toolbar{
    --background: white;
}
ion-card-header{
    padding-bottom: 0 !important;
}
.title {
    padding: 0.5rem;
    position: relative;
    text-align: center; // pad/ding-top: 10vH;
    img {
        border-radius: 15px;
        height: 60px;
        width: 60px;
        display: inline-block;
    }
    span {
        background: -webkit-linear-gradient(left, var(--ion-color-secondary, green), var(--ion-color-primary, fuchsia));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.75rem;
        font-family: "MontserratBold" !important;
        position: relative;
        bottom: 1rem;
    }
}

.email {
    border-bottom: 1px solid var(--ion-color-secondary, green) !important;
    border-radius: 25px;
    margin-bottom: 1rem;
    img {
        width: 35px;
        height: 35px;
    }
    input {
        color: var(--ion-color-secondary, green) !important;
        text-align: left;
        display: inline-block;
        border: 0 !important;
        width: 60vW;
        background: transparent !important;
        padding: 1rem;
        font-size: 1rem; // border: 1px solid var(--ion-color-secondary, green) !important;
        font-weight: bold;
    }
}

.code {
    border-bottom: 1px solid var(--ion-color-secondary, green) !important;
    border-radius: 25px;
    margin-bottom: 1rem;
    img {
        width: 35px;
        height: 35px;
    }
    ion-input {
        color: var(--ion-color-secondary, green) !important;
        text-align: left;
        display: inline-block;
        border: 0 !important;
        width: 60vW;
        background: transparent !important;
        padding: 1rem;
        font-size: 1rem; // border: 1px solid var(--ion-color-secondary, green) !important;
        font-weight: bold;
    }
}

.password {
    margin-bottom: 1rem;
    border-radius: 25px;
    border-bottom: 1px solid var(--ion-color-secondary, green) !important;
    img {
        width: 35px;
        height: 35px;
    }
    input {
        color: var(--ion-color-secondary, green) !important;
        text-align: left;
        display: inline-block;
        border: 0 !important;
        border-bottom: 1px solid var(--ion-color-primary, fuchsia);
        width: 60vW;
        background: transparent !important;
        padding: 1rem;
        font-size: 1rem; // border: 1px solid var(--ion-color-secondary, green) !important;
        font-weight: bold;
    }
}

.error {
    padding: 0.5rem;
    color: red;
    font-weight: bold;
    text-align: center;
    span{
        width: 100%;
    }
}

.btn-access {
    --background: var(--ion-color-primary, fuchsia) !important;
    --color: white !important;
    span {
        padding-left: 2em !important;
        padding-right: 2em !important;
        font-weight: bolder;
        font-family: "MontserratBold" !important;
    }
}

.btn-create {
    --color: white !important;
}


ion-footer {
    background: var(--ion-color-primary, fuchsia) !important;
}

::placeholder {
    color: var(--ion-color-primary, fuchsia);
    opacity: 0.75;
}

.cardSelected{
    opacity: 0.5 !important;
}