@media (min-width: 769px) {

    h1 {
        text-align: center;
        font-family: 'MontserratBold' !important;
        background: -webkit-linear-gradient(left, var(--ion-color-secondary, green), var(--ion-color-primary, fuchsia));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: var(--lg-spacing);

    }

    .form-user-email {
        margin-top: var(--md-spacing);
        margin-bottom: var(--md-spacing);

        img {
            margin-right: var(--sm-spacing);
            margin-bottom: var(--md-spacing);
        }

        ion-input {
            margin-bottom: var(--md-spacing);
            border-bottom: 2px solid var(--color-light-grey);

            &.error {
                border-bottom: 2px solid var(--ion-color-primary);
                color: var(--ion-color-primary);
            }

            &.ok {
                border-bottom: 2px solid var(--ion-color-secondary);
                color: var(--ion-color-secondary);
            }
        }
    }

    .error {
        color: var(--ion-color-primary);
        font-family: 'Montserrat';
        margin-bottom: var(--md-spacing);
    }

    .success {
        color: var(--ion-color-secondary);
        font-family: 'Montserrat';
        margin-bottom: var(--md-spacing);
    }

    .btn-access{
        margin-top: var(--xl-spacing);
        border: 1px solid var(--ion-color-primary);
        font-family: 'MontserratBold' !important;
        background-color: white;
        color: var(--ion-color-primary);
        padding: 15px 30px;
    }
}