// @media (min-width: 769px) {
//     .filters-info{
//         margin-bottom: var(--sm-spacing);
//         .item{
//             font-size: var(--xs-size);
//             color: var(--ion-color-dark);
//             img.icon{
//             width: 16px;
//             margin-right: 10px;
//             }
//             .label{
//             color: var(--ion-color-secondary);
//             margin-right: 5px;
//             }
//             .hashtag-item{
//             margin-right: 5px;
//             }
//         }
//     }
//     .change-view{
//         margin-bottom: var(--sm-spacing);
//         margin-top: var(--sm-spacing);
//         padding-right: var(--sm-spacing);
//         .icon{
//           width: 60px;
//           height: 60px;
//           border-radius: 50%;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           border: 1px solid var(--ion-color-primary);
//           margin-right: var(--sm-spacing);
//           img{
//             height: 24px;
//           }
//           &.active{
//             background-color: var(--ion-color-primary);
//             box-shadow: 3px 2px 10px #8a8a8a;
//             border: 0px;
//           }
//         }
//       }
//       .note{
//         font-size: var(--xxs-size);
//         margin-top: var(--sm-spacing);
//         margin-bottom: var(--lg-spacing);
//       }
// }


#map_canvas {
  width: 100%;
  height: 100%;
}

.filter-it{
  display: table;
  ion-icon{
    font-size: 1.5rem;
  }
  span{
    vertical-align: middle;
    display: table-cell;
    padding-left: 1rem;
  }
}