<app-header [back]="false" [close]="true" [title]="'SEARCH_TITLE' | translate | titlecase" [showAvatar]="false"
  [notifications]="false"></app-header>
<ion-card no-margin>
  <ion-card-content>
    <div class="filter-it" *ngIf="filters.startDate || filters.endDate">
      <ion-icon color="secondary" src="./assets/icons/svg-green/010-small-calendar.svg"></ion-icon>
      <span *ngIf="filters.startDate">
        {{filters.startDate | date:'dd/MM/yy HH:mm'}}
      </span>
      <span *ngIf="filters.startDate && filters.endDate">
        /
      </span>
      <span *ngIf="filters.endDate">
        {{filters.endDate | date:'dd/MM/yy HH:mm'}}
      </span>
    </div>
    <div class="filter-it" *ngIf="filters.address">
      <ion-icon color="secondary" src="./assets/icons/svg-green/008-placeholder.svg"></ion-icon>
      <span>
        {{filters.address}}
      </span>
    </div>
    <div class="filter-it" *ngIf="filters.hashtags.length > 0">
      <ion-icon color="secondary" src="./assets/icons/svg-green/009-hashtag.svg"></ion-icon>
      <span *ngFor="let hashtag of filters.hashtags">#{{hashtag.hashTag}}</span>
    </div>
    <div class="filter-it" *ngIf="filters.user">
      <ion-icon color="secondary" src="./assets/icons/svg-green/026-social.svg"></ion-icon>
      <span>@{{filters.user.nickname}}</span>
    </div>
  </ion-card-content>
</ion-card>
<ion-content>
  <div class="map" id="map_canvas"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" tappable (click)="goToResultPhotos()">
      <ion-icon name="images"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<!-- <div style="width: 600px; height:600px; z-index:9999;" class="map" #mapCanvas></div> -->