<app-header [back]="false" [close]="true" [title]="'TAG_SEARCH_USER_TITLE' | translate | titlecase" [showAvatar]="false" [notifications]="false"></app-header>
<ion-content no-padding no-margin>
  <ion-searchbar (ionChange)="searchUsers($event)" placeholder="{{'TAG_SEARCH_PLACEHOLDER' | translate | titlecase}}"></ion-searchbar>
  <ion-item (click)="selectNonUser()" *ngIf="searchInput && isMyPhoto">
    <ion-avatar slot="start"> 
      <img [src]="'assets/icons/svg-gris/026-social.svg'"> 
    </ion-avatar>
    <h2 class="nonUserItem">{{searchInput}}</h2>
  </ion-item>
  <ion-item (click)="selectUser(myUser)" *ngIf="showMyUser">
    <ion-avatar slot="start" style="margin-right:0;"> 
      <img [src]="myUser.avatar || '/assets/imgs/logo-cam-fb.png'">
    </ion-avatar>
    <h2 class="userItem">@{{myUser.nickname}}</h2>
  </ion-item>
  <ion-list *ngIf="usersConnected.length>0">
    <ion-list-header>
      <ion-label>{{'TAG_CONNECTED' | translate}}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let user of usersConnected" tappable (click)="selectUser(user)">
      <ion-avatar item-start>
        <img [src]="user.avatar || '/assets/imgs/logo-cam-fb.png'">
      </ion-avatar>
      <h2 class="userItem">@{{user.nickname}}</h2>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="usersNotConnected.length>0">
    <ion-list-header>
      <ion-label>{{'TAG_NOT_CONNECTED' | translate}}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let user of usersNotConnected" tappable (click)="selectUser(user)">
      <ion-avatar item-start>
        <img [src]="user.avatar || '/assets/imgs/logo-cam-fb.png'">
      </ion-avatar>
      <h2 class="userItem">@{{user.nickname}}</h2>
    </ion-item>
  </ion-list>
</ion-content>