.userItem {
    font-size: 1rem;
    padding-left: 1rem;
    color: var(--ion-color-primary, fuchsia);
    font-family: "MontserratRegular" !important;
    padding-bottom: 0.5rem;
}
.nonUserItem{
    font-size: 1rem;
    color: var(--ion-color-primary, fuchsia);
    font-family: "MontserratRegular" !important;
    padding: 0 !important;
    margin: 0 !important;
}
ion-searchbar {
    --icon-color: var(--ion-color-primary, fuchsia);
    input {
        background-color: #FFFFFF;
        box-shadow: -16px 0px 25px 0px rgba(0, 0, 0, 0.15);
        border: 1px solid #FF4365 !important;
        border-radius: 25px;
    }
}
.searchInput {
    margin-top: 1rem;
    ion-input {
        width: 100%;
        border: 1px solid var(--ion-color-primary, fuchsia);
        border-radius: 25px;
        height: 45px;
        padding: 0px 65px 0px 25px !important;
        padding-left: 1rem !important;
        position: relative;
        outline: none !important;
    }
}

.searchInput:after {
    content: "ADD";
    display: block;
    position: absolute;
    height: 45px;
    top: 12px;
    right: 25px;
    z-index: 333;
    color: #B2B3B2;
    font-family: "MontserratBold" !important;
}

