@media(min-width: 769px) {
  .web-search-user{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    ion-searchbar[_ngcontent-c8], .searchbar[_ngcontent-c8]{
      width: 60%;
      border-radius: 30px;
      padding: 0px;
      overflow: hidden;
      border: 2px solid red;
      .searchbar-input-container.sc-ion-searchbar-md{
        input{
          border-radius: 30px !important;
        }
      }
    }
    ion-searchbar, .searchbar{
      width: 60%;
      .searchbar-input-container.sc-ion-searchbar-md{
        input{
          border-radius: 30px !important;
        }
      }
    }
    .searchbar-input.sc-ion-searchbar-md{
      border-radius: 30px !important;
    }
    input.searchbar-input.sc-ion-searchbar-md {
      border-radius: 30px;
    }
    .list{
      width: 60%;
      .user-item{
        cursor: pointer;
      }
    }
  }
}
