<ion-header>
  <ion-toolbar mode="md">
    <!-- <ion-avatar *ngIf="myUser && !back && !close" tappable (click)="goToMyProfile()">
      <img [src]="myUser.avatar" *ngIf="showAvatar">
    </ion-avatar> -->
    <!-- <div class="santa" *ngIf="myUser && !back && !close"></div> -->
    <ion-icon *ngIf="refreshIcon" (click)="refresh()" class="icon-refresh" name="refresh"></ion-icon>
    <ion-icon tappable (click)="goBack()" *ngIf="back" color="primary" name="ios-icon-back" class="icon-back"></ion-icon>
    <ion-text> <span class="faceBold">{{title}} </span></ion-text>
    <ion-icon *ngIf="close" color="primary" tappable (click)="dismiss()" name="close" class="icon-close"></ion-icon>
    <ion-icon *ngIf="notifications && (notificationsCount<=0 || !notificationsCount)" color="primary" tappable (click)="presentModalNotifications()" name="notifications-outline"
      class="icon-notifications"></ion-icon>
    <ion-icon *ngIf="notifications && notificationsCount>0" color="light" tappable (click)="presentModalNotifications()" name="notifications"
      class="icon-new-notifications animated tada"></ion-icon>
    <ion-badge *ngIf="notifications && notificationsCount>0" class="notificationsCount" item-end>{{notificationsCount}}</ion-badge>
    <ion-icon *ngIf="options" tappable (click)="presentActionSheet()" class="icon-notifications" name="md-more"></ion-icon>
    <ion-button *ngIf="saveButton" fill="clear" color="primary" class="icon-save" tappable (click)="saveClick()"> {{
      'EDIT_PROFILE_SAVE' | translate }}</ion-button>
  </ion-toolbar>
</ion-header>