ion-toolbar {
    --background: white !important;
    ion-avatar {
        height: 35px;
        width: 35px;
        position: absolute;
        top: 0.5rem;
        left: 1rem;
    }
    ion-text {
        display: inline-block;
        text-align: center;
        width: 100%;
        span {
            background: -webkit-linear-gradient(left, var(--ion-color-secondary, green), var(--ion-color-primary, fuchsia));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .icon-back {
        position: absolute;
        left: 1rem;
        color: var(--ion-color-primary, fuchsia);
        font-size: 1.3rem;
    }
    .notificationsCount{
        position: absolute;
        right: 2rem;
        top: 2rem;
        z-index: 1;
        background: var(--ion-color-secondary, green);
    }
    .icon-notifications {
        position: absolute;
        font-size: 1.5rem;
        right: 1rem;
        top: 0.75rem;
        border-radius: 25px;
        background: white;
        padding: 0.25rem;
    }
    .icon-new-notifications{
        position: absolute;
        font-size: 1.5rem;
        right: 1rem;
        top: 0.75rem;
        border-radius: 25px;
        padding: 0.25rem;
        background: var(--ion-color-primary, fuchsia);
    }
    .icon-save {
        position: absolute;
        right: 0;
        top: 0;
        color: var(--ion-color-primary, fuchsia);
        font-size: 1rem;
        padding-top: 0.5rem;
    }
    .icon-close {
        position: absolute;
        z-index: 200;
        left: 1rem;
        font-size: 1.3rem;
        color: var(--ion-color-primary, fuchsia);
    }

    .icon-refresh{
        position: absolute;
        z-index: 200;
        left: 1rem;
        font-size: 1.3rem;
        color: var(--ion-color-primary, fuchsia);
    }
}




.santa{
    // display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 15%;
    left: 35px;
    background: url("/assets/imgs/new-year.png") no-repeat; 
    background-size: 50%;
}