<ion-header>
  <ion-toolbar mode="md">
    <ion-icon *ngIf="step>1" tappable (click)="goToBack()" color="primary" name="ios-icon-back" class="icon-back"></ion-icon>
    <ion-text> <span class="faceBold">{{ title | translate | titlecase}}</span></ion-text>
    <ion-icon color="primary" tappable (click)="closeModal()" name="close" class="icon-close"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content no-padding no-margin no-bounce #content id="content">
  <!-- step 1-->
  <ion-card *ngIf="step===1">
    <ion-card-content>
      <ion-grid no-margin no-padding>


        <!-- New Post-->
        <ion-row class="list-photos" no-margin no-padding *ngIf="!isEdit">
          <ion-col size="12" no-padding *ngIf="post.photos.length===0">
            <div class="upload-btn-wrapper">
              <button class="btn" tappable (click)="presentActionSheetSelectOption()">
                <ion-icon name="ios-icon-add"></ion-icon>
              </button>
            </div>
          </ion-col>
          <ion-col size="6" no-padding *ngFor="let photo of post.photos; let i = index">
            <img class="img-item" [src]="photo.image" alt="photo" (click)="presentActionSheetDelete(i)">
          </ion-col>
          <ion-col size="6" no-padding *ngIf="post.photos.length>0 && !isEdit">
            <div class="upload-btn-wrapper">
              <button class="btn" tappable (click)="presentActionSheetSelectOption()">
                <ion-icon name="ios-icon-add"></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!isEdit">
          <ion-col size="12">
            <ion-item lines="none">
              <span class="txt-photos-included">
                {{ 'PUBLISH_MESSAGE' | translate }}
              </span>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="post.photos.length>1 && !isEdit">
          <ion-col size="12" *ngIf="!isEdit">
            <ion-item lines="none">
              <ion-icon name="ios-icon-edit"></ion-icon>
              <span class="lbl">{{ 'PUBLISH_ALBUM_TITLE' | translate }}</span>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item lines="none">
              <input style="padding-left:1rem !important;" id="description" type="text" placeholder="{{ 'PUBLISH_ALBUM_TITLE_PLACEHOLDER' | translate }}"
                [(ngModel)]="post.title" />
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- New Post -->

        <!-- Edit Post -->
        <ion-row *ngIf="isEdit && post.photos.length===1">
          <ion-col size="12">
            <img class="img-item-single" [ngClass]="[post.photos[0].filter]" [src]="post.photos[0].image" alt="photo">
          </ion-col>
        </ion-row>
        <ion-row class="list-photos" no-margin no-padding *ngIf="post.photos.length>1 && isEdit">
          <ion-col size="6" no-padding *ngFor="let photo of post.photos; let i = index">
            <img class="img-item" [src]="photo.image" alt="photo" (click)="presentActionSheetDelete(i)">
          </ion-col>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-icon name="ios-icon-edit"></ion-icon>
              <span class="lbl">{{ 'PUBLISH_ALBUM_TITLE' | translate }}</span>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item lines="none">
              <input  style="padding-left:1rem !important;" id="description" type="text" placeholder="{{ 'PUBLISH_ALBUM_TITLE_PLACEHOLDER' | translate }}"
                [(ngModel)]="post.title" />
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- Edit Post -->

        <ion-row *ngIf="post.photos.length>0">
          <ion-col>
            <ion-item lines="none" class="toogle-is-private">
              <ion-label stacked>
                {{ 'PUBLISH_BUTTON_PRIVATE' | translate }}
              </ion-label>
              <ion-toggle [(ngModel)]="post.isPublic" (ionChange)="setPublicOrPrivate()"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="col-btn-next">
            <ion-button *ngIf="post.photos.length>0" expand="block" fill="outline" center tappable (click)="goToNext()" class="btn-next"> {{ 'PUBLISH_NEXT' |
              translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="step===2">
    <img [class]="photoSelected.filter +' main-photo'" [src]="photoSelected.image" alt="photo selected" />

    <ion-card-content>
      <!-- Step 2 -->
      <ion-grid no-padding no-margin>
        <ion-row *ngIf="post.photos.length>1" no-padding no-margin style="padding:0; margin:0">
          <ion-col size="12" no-padding no-margin style="padding:0; margin:0">
            <ion-slides class="carousel" [options]="slideOpts" zoom="false">
              <ion-slide *ngFor="let photo of post.photos">
                <img class="item-filter" tappable (click)="setPhotoSelected(photo)" [ngClass]="{'item-selected': photo === photoSelected}"
                  [class]="'photo-item'" [src]="photo.image" alt="photo selected">
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <span class="txt-select-one-filter">{{ 'PUBLISH_FILTER' | translate }}</span>
          </ion-col>
        </ion-row>
        <ion-row class="filters-list">
          <ion-col size="12">
            <ion-slides class="carousel" [options]="slideOptsFilters" zoom="false">
              <ion-slide *ngFor="let filter of filtersList" class="slide-filter">
                <img [src]="photoSelected.thumbnail" tappable (click)="setFilterSelected(photoSelected, filter)"
                  [class]="'filter-item ' + filter" [ngClass]="{'item-selected': photoSelected.filter === filter}">
                <span text-capitalize [class]="'name-filter'" [ngClass]="{'name-filter-selected': filterSelected === filter}">
                  {{filter}}
                </span>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="col-btn-next">
            <ion-button expand="block" fill="outline" center tappable (click)="goToNext()" class="btn-next"> {{ 'PUBLISH_NEXT' |
              translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="step===3">
    <ion-card-content>
      <!-- Step 3 -->
      <ion-grid no-padding no-margin>
        <ion-row no-padding no-margin>
          <ion-col size="6" no-padding no-margin>
            <img [src]="post.photos[photoActualPosition].image" class="photo-selected-step3" [ngClass]="[post.photos[photoActualPosition].filter]">
          </ion-col>
          <ion-col col-6>
            <ion-row no-padding no-margin>
              <ion-col size="12">
                <div class="lblInfo" lines="none">
                  <ion-icon name="ios-icon-calendar"></ion-icon>
                  <span style="font-size: 0.7rem;">{{ 'PUBLISH_PHOTO_SHEET_DATE_TIME' | translate }}</span>
                </div>
              </ion-col>
            </ion-row>
            <ion-row no-padding no-margin>
              <ion-col size="12">
                <ion-datetime style="padding-left:1rem !important;" [(ngModel)]="post.photos[photoActualPosition]._datetime" placeholder="{{ 'PUBLISH_PHOTO_SHEET_DATE_TIME' | translate }}"
                  pickerFormat="DD/MM/YYYY HH:mm" display-format="DD/MM/YY HH:mm"></ion-datetime>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row no-padding no-margin>
          <ion-col class="col-inputs" size="12">
            <div class="lblInfo" style="padding-top:1rem;">
              <ion-icon name="ios-icon-locate"></ion-icon>
              <span>{{ 'PUBLISH_PHOTO_SHEET_PLACE' | translate }}</span>
            </div>
          </ion-col>
          <ion-col class="col-inputs" size="12">
            <input style="padding-left:1rem !important;" (click)="openSearchAddressModalPhoto(photoActualPosition)" [readonly]="true" type="text" placeholder="{{ 'Location not found' | translate }}"
              [(ngModel)]="post.photos[photoActualPosition].location.address" />
          </ion-col>
        </ion-row>
        <ion-row no-padding no-margin>
          <ion-col class="col-inputs" size="12">
            <div class="lblInfo">
              <ion-icon name="ios-icon-edit"></ion-icon>
              <span>{{ 'PUBLISH_PHOTO_SHEET_TITLE' | translate }}</span>
            </div>
          </ion-col>
          <ion-col class="col-inputs" size="12">
            <input style="padding-left:1rem !important;" type="text" placeholder="{{ 'PUBLISH_PHOTO_SHEET_TITLE_PLACEHOLDER' | translate }}" [(ngModel)]="post.photos[photoActualPosition].title" />
          </ion-col>
        </ion-row>
        <ion-row no-padding no-margin *ngIf="!isEdit">
          <ion-col class="col-inputs" size="12">
            <div class="lblInfo">
              <ion-icon name="ios-icon-hashtag"></ion-icon>
              <span>{{ 'PUBLISH_PHOTO_SHEET_HASHTAG' | translate }}</span>
            </div>
          </ion-col>
          <ion-col class="col-inputs" size="12">
            <input style="padding-left:1rem !important;" type="text" placeholder="{{ 'PUBLISH_PHOTO_SHEET_HASHTAG_PLACEHOLDER' | translate }}" [(ngModel)]="filters.hashTagInput" />
            <span class="btn-add-hastag" [hidden]="filters.hashTagInput.length<3" tappable (click)="addHashTag(post.photos[photoActualPosition])">{{
              'PUBLISH_PHOTO_ADD_TAG' | translate }}</span>
          </ion-col>
        </ion-row>
        <ion-row no-padding no-margin *ngIf="!isEdit">
          <ion-col class="col-inputs">
            <div class="list-hashtags">
              <span class="item-hashtag" tappable (click)="removeHashTag(hashtag)" style="padding-top:1rem;" *ngFor="let hashtag of post.photos[photoActualPosition].hashTags">
                {{hashtag.hashTag}}
                <ion-icon name="close"></ion-icon>
              </span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row no-padding no-margin *ngIf="!isEdit">
          <ion-col>
            <div class="btn-tag-users" tappable (click)="showModalTagPhoto(post.photos[photoActualPosition])">
              <ion-icon name="ios-icon-tag"></ion-icon>
              <span>{{ 'PUBLISH_PHOTO_SHEET_TAG' | translate }}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="users-tagged" no-padding no-margin *ngIf="!isEdit">
          <ion-col class="col-inputs">
            <!-- <span class="users-tagged" *ngIf="post.photos[photoActualPosition].tags.length>0">{{
              'PUBLISH_PHOTO_SHEET_USER_TAGS' | translate }}: </span> -->
            <span class="user-tag" *ngFor="let tag of post.photos[photoActualPosition].tags">
              <span *ngIf="tag.user">&nbsp;@{{tag.user.nickname}}&nbsp;</span>
              <span *ngIf="tag.nonUser">&nbsp;{{tag.nonUser}}&nbsp;</span>
            </span>
          </ion-col>
        </ion-row>

        <!-- <ion-row no-padding no-margin *ngIf="isEdit">
          <ion-col>
            <br>
          </ion-col>
        </ion-row> -->

        <ion-card *ngIf="step===3 && photoActualPosition>0">
          <ion-card-header>
            <ion-card-subtitle text-center class="msg-copy-previous" tappable (click)="copyPreviousAlert()">
              {{ 'PUBLISH_COPY_MESSAGE' | translate }}
            </ion-card-subtitle>
          </ion-card-header>
          <!-- <ion-card-content>
            <ion-button ion-button block center tappable (click)="copyPreviousAlert()" class="btn-copy-previous">
              <span>{{ 'PUBLISH_COPY_BUTTON' | translate }}</span>
            </ion-button>
          </ion-card-content> -->
        </ion-card>

        <ion-row class="buttons-bottom" *ngIf="post.photos.length>1">
          <ion-col col-6>
            <ion-button *ngIf="photoActualPosition>0" (click)="previousPhoto()" fill="outline" expand="block" center class="btn-copy-previous">
              <span>
                {{ 'PUBLISH_PREVIOUS' |translate }}
              </span>
            </ion-button>
          </ion-col>
          <ion-col col-6>
            <ion-button *ngIf="photoActualPosition+1!=post.photos.length" fill="outline" (click)="nextPhoto()" expand="block" center
              class="btn-copy-previous">
              <span>
                {{ 'NEXT' |translate }}
                {{photoActualPosition+1}}/{{post.photos.length}}
              </span>
            </ion-button>
            <ion-button expand="block" center class="btn-next-count" (click)="nextPhoto()" *ngIf="photoActualPosition+1===post.photos.length && !isEdit">
              <span tappable>{{ 'PUBLISH_CONFIRM_UPLOAD_BUTTON_CONFIRM' | translate }}</span>
            </ion-button>
            <ion-button expand="block" center class="btn-next-count" (click)="nextPhoto()" *ngIf="photoActualPosition+1===post.photos.length && isEdit">
              <span tappable>{{ 'PUBLISH_EDIT_CONFIRM_UPLOAD_BUTTON_CONFIRM' | translate }}</span>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="post.photos.length===1">
          <ion-col col-12>
            <ion-button *ngIf="!isEdit" expand="block" center class="btn-next-count" (click)="nextPhoto()">
              <span tappable>{{ 'PUBLISH_CONFIRM_UPLOAD_BUTTON_CONFIRM' | translate }}</span>
            </ion-button>
            <ion-button *ngIf="isEdit" expand="block" center class="btn-next-count" (click)="nextPhoto()">
              <span tappable>{{ 'PUBLISH_EDIT_CONFIRM_UPLOAD_BUTTON_CONFIRM' | translate }}</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
