ion-toolbar {
    --background: white !important;
    ion-text {
        display: inline-block;
        text-align: center;
        width: 100%;
        span {
            background: -webkit-linear-gradient(left, var(--ion-color-secondary, green), var(--ion-color-primary, fuchsia));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .icon-back {
        position: absolute;
        left: 1rem;
        color: var(--ion-color-primary, fuchsia);
        font-size: 1.3rem;
    }
    .icon-close {
        position: absolute;
        z-index: 200;
        right: 1rem;
        font-size: 1.3rem;
        color: var(--ion-color-primary, fuchsia);
    }
}
.txt-photos-included{
    color: #595959;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    span{
        width: 100%;
    }
}
.txt-publication-private{
    font-size: 0.75rem;
    text-align: right;
    color: #B2B3B2;
}
.list-photos{
    // padding-left: 1rem;
    // padding-right: 1rem;
    padding: 0 !important;
    margin: 0 !important;
}
.lbl{
    color: var(--ion-color-secondary, green) !important;
    font-size: 1rem;
    padding-left: 0.5rem;
}
.item-location{
    padding: 0 !important;
    margin: 0 !important;
}
.col-btn-next{
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.btn-next{
    font-family: "MontserratBold" !important;
}
.toogle-is-private{
    ion-label{
        font-size: 0.75rem;
        text-align: right;
        color: #595959;
    }
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 100%;
    .btn {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-weight: bold;
        ion-icon {
            color: var(--ion-color-primary, fuchsia);
            font-size: 3em;
        }
    }
    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}

input{
    border: 0 !important;
    width: 100%;

}
ion-input, ion-datetime{
    border-bottom: 1px solid #B2B3B2;
    color: #595959;
}
ion-datetime{
    width: 100%;
    padding: 0 !important;
    color: #595959;
    border: 0 !important;

}



.img-item{
    width: 40vW;
    height: 40vW; 
    object-fit: cover;
    border: 2px solid white;
    border-radius: 5px;
}
.img-item-single{
    width: 80vW;
    height: 80vW; 
    object-fit: cover;
    border: 2px solid white;
    border-radius: 5px;
}

// STEP 2
img{
    object-fit: cover;
}
.main-photo{
    width: 100%;
    height: 95vW;
}
.photo-item{
    width: 25vW;
    height: 25vW;
    padding: 0.2rem;
}
.filters-list{
    padding-bottom: 1rem;
}
.slide-filter{
    height: 33vW;
}
.filter-item{
    width: 23vW;
    height: 23vW;
    padding: 0.1rem;
    border-radius: 5px;
    top: 0;
    position: absolute;
}
.item-filter{
    height:15vW; 
    width: 15vW; 
    padding:0.1rem;
    border-radius: 5px;
}
.name-filter{
    position: absolute;
    bottom: 0;
    background: white;
    color: var(--ion-color-primary, fuchsia);
    font-size: 0.75rem;
    font-weight: bold;
    width: 85%;
}
.item-selected {
    border: 3px solid var(--ion-color-primary, fuchsia);
}
.txt-select-one-filter{
    font-size: 1rem;
    color: #595959;
    width: 100%;
    color: var(--ion-color-secondary, green);
    font-family: "MontserratBold" !important;
}


// Step 3
.photo-selected-step3{
    width: 100%;
    height: 40vW;
    border-radius: 5px;
}
.col-inputs{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0;
}
.lblInfo{
    font-size: 1.5rem;
    span{
        top: -5px;
        position: relative;
        font-size: 1rem;
        position: relative;
        bottom: 5px;
        padding-left: 0.5rem;
        color: var(--ion-color-secondary, green);
    }
}
.btn-add-hastag{
    position: absolute;
    top: 0;
    right: 1rem;
    color: var(--ion-color-primary, fuchsia);
    font-family: "MontserratBold" !important;
}

.list-hashtags{
    text-align: center;
    .item-hashtag{
        font-size: 0.75rem;
        color: #595959;
        ion-icon{
            color: var(--ion-color-primary, fuchsia) !important;
            position: relative;
            bottom: -3px;
        }
    }
}
.no-users-tagged{
    text-align: center;
    // padding-top: 1rem;
    color: #595959;
}
.users-tagged{
    text-align: center;
    // padding-top: 1rem;
    color: #595959;
}
.user-tag{
    color: var(--ion-color-primary, fuchsia) !important;
}
.btn-tag-users{
    text-align: center;
    padding-top: 1rem;
    ion-icon{
        font-size: 1.5rem;
        padding-right: 0.5rem;
    }
    span{
        position: relative;
        bottom: 5px;
        font-weight: bold;
        font-family: "MontserratBold" !important;
        color: var(--ion-color-primary, fuchsia) !important;
    }
}
.msg-copy-previous{
    color: var(--ion-color-primary, fuchsia) !important
}
.btn-copy-previous{
    font-size: 1rem;
    width: 100%;
    font-weight: bold;
    span{
        font-family: "MontserratBold" !important;
    }
}
.btn-next-count{
    font-size: 1rem;
    font-weight: bold;
    span{
        font-family: "MontserratBold" !important;
    }
}

.prev{
    font-family: "MontserratBold" !important;
    font-weight: bold;
    color: var(--ion-color-primary, fuchsia) !important;;
    font-size: 0.75rem;
}
.next{
    font-family: "MontserratBold" !important;
    font-weight: bold;
    // color: var(--ion-color-primary, fuchsia) !important;;
    font-size: 0.75rem;
}

ion-input, input {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    border: 0 !important;
    outline: 0 !important;
    background: transparent !important;
}