// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat/Montserrat-Light.ttf) format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'MontserratRegular';
    src: url(./assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url(./assets/fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
    font-style: normal;
}

$color-primary: #FF4365;
$color-green: #00D9C0;
html {
    box-sizing: border-box !important;
    p,
    span,
    small,
    h1,
    h2,
    h3,
    h4,
    h5,
    ion-text,
    ion-label, ion-card-subtitle, ion-input{
        font-family: "Montserrat" !important;
    }
    strong,
    b,
    ion-segment-button,
    ion-button ,ion-card-title{
        font-family: "MontserratBold" !important;
    }
    .faceBold {
        font-family: "MontserratBold" !important;
    }
    .faceRegular {
        font-family: "MontserratRegular" !important;
    }
    ion-input{
        caret-color: transparent !important;
        input{
            padding-left: 1rem !important;
        }
    }
    input{
        caret-color: transparent !important;
    }
    ion-text{
        // padding-left: 1rem !important;
    }
    ion-datetime{
        padding-left: 1rem !important;
    }
}

$color-white: white;
.tab-btn-icon.sc-ion-tabbar-ios {
    filter: sepia() saturate(10000%) hue-rotate(0deg) !important;
}

// Buttons tabs
// ion-segment-button {
//     border: 0;
//     padding-top: 0.75rem;
//     height: 3rem !important;
//     // background-color: #EEEEEE;
//     color: #595959 !important;
//     opacity: 0.75;
//     // --btn-border-color: white !important;
// }

// .segment-button-checked {
//     background: white !important;
//     color: var(--ion-color-primary, fuchsia) !important;
//     opacity: 1 !important;
// }



// Buttons
ion-button {
    --box-shadow: none;
    --padding-bottom: 1rem;
    --padding-end: 1rem;
    --padding-start: 1rem;
    --padding-top: 1rem;
    --border-radius: 25px;
    text-transform: uppercase;
}
.button-native {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 1rem !important;
}

ion-toast{
    --color: var(--ion-color-primary, fuchsia) !important;
}

.modal, ion-modal{
    display: inherit;
}

.native-input { position: relative; top: 6.5px; left:-5px; border: 0; outline: 0; padding: 5px; }

.refresh-data{
    text-align: center;
    color: var(--ion-color-secondary, rgb(0, 183, 255)) !important;
    font-size: 1rem;
    font-family: "MontserratRegular" !important;
}


ion-segment-button{
    background: #b2b3b23d !important;
    --border-color: transparent;
    --padding-bottom: 1rem;
    --padding-top: 1rem;
    --border-radius: 0;
}
.segment-button-checked{
    background: white !important;
}