@media(min-width: 769px) {
  .modal, ion-modal{
    display: none;
  }
  .login-icon{
    max-width: 16px;
  }
  .icon-input{
    max-width: 32px !important;
    max-height: 32px !important;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .mw-600{
    max-width: 600px;
  }
  .web-page{
    margin-top: var(--menu-height);
    padding-top: var(--md-spacing);
    width: 100%;
    overflow-y: scroll;
    position: relative;
  }

  .web-card{
    max-width: 600px;
    margin: 0 auto;
    border: 0;
    box-shadow: 10px 0px 20px #eee;
    margin-bottom:  var(--md-spacing);
    .img-container {
      padding-bottom: 100%;
      position: relative;
      height: 0;
      .img-filter{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .back-to-link {
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        position: absolute;
        width: 100%;
        cursor: pointer;
      }
      .user-info{
        z-index: 3;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--sm-spacing);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,474747+100&0+0,0.65+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(71,71,71,0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(71,71,71,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(71,71,71,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6474747',GradientType=0 ); /* IE6-9 */
        .user{
          .avatar{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
          }
          .nickname{
            cursor: pointer;
            color: white;
            font-family: 'MontserratBold' !important;
            margin-left: 10px;
          }
        }
        .actions{
          .tag{
            color: white;
          }
        }
      }
    }
    .card-body{
      .title p{
        font-size: var(--sm-size);
        margin-top: var(--sm-spacing);
        margin-bottom: var(--sm-spacing);
        line-height: 1;
      }
      .hashtags{
        padding-bottom: var(--sm-spacing);
        color: var(--ion-color-primary);
        position: relative;
        font-size: var(--xxs-size);
        text-align: center;
        .tag{
          margin-right: var(--sm-spacing);
          margin-left: var(--sm-spacing);
        }
        &:after{
          content: '';
          display: block;
          background-color: var(--ion-color-secondary);
          position: absolute;
          bottom: 0;
          width: 30px;
          height: 3px;
          left: calc(50% - 15px);
        }
      }
      .location{
        margin-top: var(--sm-spacing);
        margin-bottom: var(--sm-spacing);
        small{
          color: var(--ion-color-primary);
          font-size: var(--xxs-size);
        }
      }
      .img-date{
        font-family: 'Montserrat';
        font-size: 10px;
        margin-bottom: var(--sm-spacing);
        color: var(--ion-color-dark);
        position: relative;
      }
    }
  }
  #googleMapsWrapper{
   [title*="hoto"]{
     border: 2px solid white !important;
     width: 95px!important;
     opacity: 1!important;
     height: 95px!important;
     box-shadow: -2px 1px 17px 0px rgba(80, 79, 79, 0.2);
     overflow: inherit !important;
     &:after{
       content: '';
       display: block;
       position: absolute;
       left: calc(50% - 5px);
        bottom: -7px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #ffffff;
      clear: both;
     }
     img{
      width: 91px !important;
      height: 91px !important;
     }
   }
  }
  div#splashScreenDownloadApp{
    display: none !important;
  }
}
@media (max-width: 768px) {
  div#splashScreenDownloadApp {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999999;
    background-color: white;
    padding: var(--md-spacing);
    flex-wrap: wrap;
    overflow-y: scroll;
    .section{
      width: 100%;
      margin-bottom: var(--md-spacing);
      text-align: center;
    }
    h1{
      color: var(--ion-color-secondary);
      font-family: 'MontserratBold' !important;
    }
    img.mockup{
      max-width: 100%;
      width: 60%;
    }
    img.download-app-btn{
      width: 120px;
    }
  }
}
