ion-card {
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    ion-card-header{
        .picture{
            height: 100vW;
            width: 100%;
        }
        .album-indicator {
            --background: transparent;
            border-radius: 5px;
            position: absolute;
            bottom: 0;
            right: 1rem;
            color: var(--ion-color-light, white);
            ion-icon {
                padding-right: 1.5rem;
            }
        }
        .user-tags{
            span{
                position: absolute;
                top: 0;
                background: var(--ion-color-secondary, green);
                color: var(--ion-color-light, white);
                padding: 0.5rem;
                font-size: 0.75rem;
                small{
                    font-size: 0.75rem;
                    font-weight: bold;
                    font-family: "MontserratBold" !important;
                }
            }
            span::after {
                content: '';
                position: absolute;
                left: 40%;
                top: 100%;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid var(--ion-color-secondary, green);
                clear: both;
            }
            .nonUserTag{
                background: var(--ion-dark-lint, #595959) !important;
            }
            .nonUserTag::after{
                border-top: 5px solid  var(--ion-dark-lint, #595959) !important;
            }
            .pendingTag{
                background: var(--ion-dark-lint, #595959) !important;
            }
            .pendingTag::after{
                border-top: 5px solid  var(--ion-dark-lint, #595959) !important;
            }
        }
        .no-user-tags{
            position: absolute;
            top: 50%;
            width: 100%;
            color: var(--ion-color-secondary, green);
        }
    }
    ion-card-content{
        padding: 0.5rem !important;
        padding-top: 0 !important;
        .user-info{
            .username{
                small{
                    color: var(--ion-dark-lint, #595959);
                }
            }
            ion-avatar{
                margin-right: 0.5rem;
                margin-left: 0.5rem;
            }
            .icon-tag{
                font-size: 1.5rem;
                padding-left: 1rem;
                padding-right: 0.5rem;
                margin: 0 !important;
            }
            .icon-share{
                font-size: 1.5rem;
                margin: 0 !important;
            }
        }

        .hashtags{
            ion-text{
                margin-right: 0.75rem;
                font-size: 0.75rem;
                color: var(--ion-color-primary, fuchsia);
            }
        }
        .separator{
            width: 30px;
            border-top: 2px solid var(--ion-color-secondary, green);
            margin: 0 auto;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        .location{
            font-size: 0.75rem;
        }
        .date{
            display: block;
            font-size: 0.75rem;
            padding: 0.5rem;
        }

        .buttons-footer{
            padding-top: 1rem;
        }
    }
}

.icon-options{
    z-index: 10;
    top: 15px;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    color: var(--ion-color-primary, fuchsia);
}

.show-all-comments{
    color: var(--ion-color-primary, fuchsia) !important;
    font-size: 0.75rem;
}
.txt-album-title{
    display: block;
    font-size: 0.75rem;
    padding: 1rem;
    color: #595959;
    padding-bottom: 0 !important;
}
.txt-photo-album{
    display: block;
    font-size: 0.75rem;
    padding: 1rem;
    color: #595959;
    span{
        padding-left: 0.5rem;
        color: var(--ion-color-primary, fuchsia) !important;
    }
}
ion-button{
    font-size: 0.75rem;
}
.icon-private{
    position: absolute;
    padding: 0.25rem;
    right: 0;
    font-size: 2rem;
    color:   var(--ion-color-secondary, green);
}