<ion-item *ngFor="let item of connectionsFollowers" class="connection-item">
  <ion-avatar item-left class="cursor-pointer" tappable (click)="goToPublicProfile(item)"><img [src]="item.user.avatar  || '/assets/imgs/logo-cam-fb.png'"></ion-avatar>
  <ion-label class="cursor-pointer" tappable (click)="goToPublicProfile(item)" no-lines margin-left padding>@{{item.user.nickname}}</ion-label>
  <ion-button *ngIf="item.connectionType === 'following'" shape="round" color="primary" tappable (click)="follow(item)">{{
    'CONNECTIONS_FOLLOWERS_NOT_FOLLOWING' | translate }}</ion-button>
  <span class="faceBold txt-you-are" *ngIf="item.connectionType === 'connection'"> {{ 'CONNECTIONS_FOLLOWERS_FOLLOWING' | translate }}
  </span>
</ion-item>

<!-- <ion-item class="no-items" *ngIf="connectionsFollowers.length===0">
  <span>
    {{ 'GENERIC_NO_ITEMS' | translate }}
  </span>
</ion-item> -->