@media(min-width: 769px) {
  .connection-item{
    margin-top: var(--md-spacing) !important;
    margin-left: -15px !important;
    ion-label{
      font-size: 14px;
      margin: 0;
      
    }
  }
}
