<app-header [close]="true" [title]="'Edit' | translate"></app-header>
<ion-content no-padding no-margin no-bounce #content *ngIf="!isLoading">
  <!-- step 1-->
  <ion-grid no-margin *ngIf="step===1">
    <ion-row class="list-photos">
      <ion-col size="4" no-padding *ngFor="let photo of post.photos">
        <img class="img-item" [src]="photo.thumbnail" alt="photo">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-icon name="ios-icon-locate"></ion-icon> <span class="lbl">{{ 'Location' | translate }}</span>
        </ion-item>
        <ion-item class="item-location" lines="none" tappable (click)="openSearchAddressModal()">
          <ion-input [readonly]="true" type="text" placeholder="{{ 'Location not found' | translate }}" [(ngModel)]="filters.address"></ion-input>
          <ion-icon *ngIf="!filters.address" name="locate" color="secondary"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-icon name="ios-icon-calendar"></ion-icon> <span class="lbl">{{ 'Date' | translate }}</span>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="post._date"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-datetime class="end-date" displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="post._time"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-icon name="ios-icon-edit"></ion-icon>
          <span class="lbl">{{ 'Description' | translate }}</span>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-input type="text" placeholder="{{ 'Add description' | translate }}" [(ngModel)]="post.title"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none" class="toogle-is-private">
          <ion-label stacked>
            {{ 'This publication is public?' | translate }}
          </ion-label>
          <ion-toggle [(ngModel)]="post.isPublic"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="col-btn-next">
        <button *ngIf="post.photos.length>0" class="btn-next" ion-button block center tappable (click)="goToNext()"> {{
          'NEXT' | translate }} </button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- Step 2 -->
  <ion-grid no-padding no-margin *ngIf="step===2">
    <ion-row no-padding>
      <ion-col no-padding>
        <img [class]="photoSelected.filter +' main-photo'" [src]="photoSelected.thumbnail" alt="photo selected">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-slides class="carousel" [options]="slideOpts" zoom="false">
          <ion-slide *ngFor="let photo of post.photos">
            <img tappable (click)="setPhotoSelected(photo)" [ngClass]="{'item-selected': photo === photoSelected}"
              [class]="photo.filter +' photo-item'" [src]="photo.thumbnail" alt="photo selected">
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="txt-select-one-filter">{{ 'Select one filter' | translate }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="filters-list">
      <ion-col size="12">
        <ion-slides class="carousel" [options]="slideOptsFilters" zoom="false">
          <ion-slide *ngFor="let filter of filtersList">
            <img [src]="photoSelected.thumbnail" tappable (click)="setFilterSelected(photoSelected, filter)" [class]="'filter-item ' + filter"
              [ngClass]="{'item-selected': photoSelected.filter === filter}">
            <span text-capitalize [class]="'name-filter'" [ngClass]="{'name-filter-selected': filterSelected === filter}">
              {{filter}}
            </span>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="col-btn-next">
        <!-- <button ion-button block center tappable (click)="goToBack()" class="fixed-btn-reset"> BACK </button> -->
        <button ion-button block center tappable (click)="goToNext()" class="btn-next"> {{ 'NEXT' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- Step 3 -->
  <ion-grid no-padding no-margin *ngIf="step===3">
    <ion-row class="arrows-navigation" *ngIf="post.photos.length>1">
      <ion-col col-6>
        <div class="prev" tappable (click)="previousPhoto()">
          <ion-icon name="custom-arrow-previous"></ion-icon>
          <span>{{ 'PREVIOUS PHOTO' | translate }}</span>
        </div>
      </ion-col>
      <ion-col size="6" text-right>
        <div class="next" *ngIf="photoActualPosition+1!=post.photos.length" tappable (click)="nextPhoto()">
          <span>{{ 'NEXT PHOTO' | translate }}</span>
          <ion-icon name="custom-arrow-next"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row no-padding no-margin>
      <ion-col size="6" no-padding no-margin>
        <img [src]="post.photos[photoActualPosition].thumbnail" class="photo-selected" [ngClass]="[post.photos[photoActualPosition].filter]">
      </ion-col>
      <ion-col col-6>
        <ion-row no-padding no-margin>
          <ion-col size="12">
            <div class="lblInfo" lines="none">
              <ion-icon name="ios-icon-calendar"></ion-icon>
              <span>{{ 'Date' | translate }}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row no-padding no-margin>
          <ion-col size="12">
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="post.photos[photoActualPosition]._date"></ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row no-padding no-margin>
          <ion-col size="12">
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="post.photos[photoActualPosition]._time"></ion-datetime>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row padding-top>
      <ion-col class="col-inputs" size="12">
        <div class="lblInfo">
          <ion-icon name="ios-icon-locate"></ion-icon>
          <span>{{ 'Location' | translate }}</span>
        </div>
      </ion-col>
      <ion-col class="col-inputs" size="12">
        <ion-input [readonly]="true" type="text" placeholder="{{ 'Location not found' | translate }}" [(ngModel)]="post.photos[photoActualPosition].location.address">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-inputs" size="12">
        <div class="lblInfo">
          <ion-icon name="ios-icon-edit"></ion-icon>
          <span>{{ 'Title' | translate }}</span>
        </div>
      </ion-col>
      <ion-col class="col-inputs" size="12">
        <ion-input type="text" placeholder="{{ 'SAVE' | translate }}Add title to picture" [(ngModel)]="post.photos[photoActualPosition].title"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col-inputs" size="12">
        <div class="lblInfo">
          <ion-icon name="ios-icon-hashtag"></ion-icon>
          <span>Hashtag</span>
        </div>
      </ion-col>
      <ion-col class="col-inputs" size="12">
        <ion-input type="text" placeholder="Hashtag" [(ngModel)]="filters.hashTagInput"></ion-input>
        <span class="btn-add-hastag" [hidden]="filters.hashTagInput.length<3" tappable (click)="addHashTag(post.photos[photoActualPosition])">{{
          'ADD' | translate }}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-inputs">
        <div class="list-hashtags">
          <span class="item-hashtag" *ngIf="post.photos[photoActualPosition].hashTags.length===0" style="display:block">{{
            'No hashtags in this photo' | translate }}</span>
          <span class="item-hashtag" tappable (click)="removeHashTag(hashtag)" *ngFor="let hashtag of post.photos[photoActualPosition].hashTags">
            {{hashtag.hashTag}}
            <ion-icon name="close"></ion-icon>
          </span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="users-tagged">
      <ion-col class="col-inputs">
        <span class="no-users-tagged" *ngIf="post.photos[photoActualPosition].tags.length===0" style="display:block">{{
          'No Users tagged in this photo' | translate }}</span>
        <span class="users-tagged" *ngIf="post.photos[photoActualPosition].tags.length>0">{{ 'Users tagged in this
          photo' | translate }}: </span>
        <span class="user-tag" *ngFor="let tag of post.photos[photoActualPosition].tags">&nbsp;@{{tag.user.nickname}}&nbsp;</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="btn-tag-users" tappable (click)="showModalTagPhoto(post.photos[photoActualPosition])">
          <ion-icon name="ios-icon-tag"></ion-icon>
          <span>{{ 'TAG USERS' | translate }}</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="buttons-bottom">
      <ion-col col-6>
        <button ion-button block center tappable (click)="copyPrevious()" class="btn-copy-previous">
          <span>{{ 'COPY PREVIOUS' | translate }}</span>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block center class="btn-next-count">
          <span *ngIf="photoActualPosition+1!=post.photos.length" tappable (click)="nextPhoto()">{{ 'NEXT' | translate
            }}
            {{photoActualPosition+1}}/{{post.photos.length}}</span>
          <span *ngIf="photoActualPosition+1===post.photos.length" tappable (click)="presentConfirm()">{{ 'UPLOAD' |
            translate }}</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <c-tabs></c-tabs>
</ion-footer>