.txt-photos-included{
    color: #595959;
    font-size: 0.75rem;
}
.txt-publication-private{
    font-size: 0.75rem;
    text-align: right;
    color: #B2B3B2;
}
.list-photos{
    padding-left: 1rem;
    padding-right: 1rem;
}
.lbl{
    color: var(--ion-color-secondary, green) !important;
    font-size: 1rem;
    padding-left: 0.5rem;
}
.item-location{
    ion-input{

    }
    ion-icon{

    }
}
.col-btn-next{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.btn-next{
    color: var(--ion-color-primary, fuchsia) !important;
    font-size: 1rem;
    width: 100%;
    border-radius: 25px;
    border: 1px solid  var(--ion-color-primary, fuchsia);
    box-shadow: -15px 0 25px 0px rgba(0,0,0,0.25);
    padding: 1rem;
    background: white;
    font-family: "MontserratBold" !important;
}
.toogle-is-private{
    ion-label{
        font-size: 0.75rem;
        text-align: right;
        color: #595959;
    }
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 100%;
    .btn {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-weight: bold;
        ion-icon {
            color: var(--ion-color-primary, fuchsia);
            font-size: 3em;
        }
    }
    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}


ion-input, ion-datetime{
    border-bottom: 1px solid #B2B3B2;
    color: #595959;
}
ion-datetime{
    width: 100%;
    padding-left: 0 !important;
    color: #595959;
}



.img-item{
    height: 28vW;
    width: 100%;
    object-fit: cover;
    border: 2px solid white;
}

// STEP 2
img{
    object-fit: cover;
}
.main-photo{
    width: 100vW;
    height: 100vW;
}
.photo-item{
    width: 25vW;
    height: 25vW;
    padding: 0.2rem;
}
.filter-item{
    width: 33vW;
    height: 33vW;
    padding: 0.2rem;
}
.name-filter{
    position: absolute;
    bottom: 4px;
    display: block;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    width: 95%;
    background: black;
}
.item-selected {
    border: 1px solid var(--ion-color-primary, fuchsia);
}
.txt-select-one-filter{
    font-size: 1rem;
    padding-left: 0.5rem;
    color: #595959;
}


// Step 3
.photo-selected{
    width: 100%;
    height: 50vW;
}
.col-inputs{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0;
}
.lblInfo{
    font-size: 1.5rem;
    span{
        top: -5px;
        position: relative;
        font-size: 1rem;
        position: relative;
        bottom: 5px;
        padding-left: 0.5rem;
        color: var(--ion-color-secondary, green);
    }
}
.btn-add-hastag{
    position: absolute;
    top: 0;
    right: 1rem;
    color: var(--ion-color-primary, fuchsia);
    font-family: "MontserratBold" !important;
}

.list-hashtags{
    text-align: center;
    .item-hashtag{
        font-size: 0.75rem;
        color: #595959;
        ion-icon{
            color: var(--ion-color-primary, fuchsia) !important;
            position: relative;
            bottom: -3px;
        }
    }
}
.no-users-tagged{
    text-align: center;
    padding-top: 1rem;
    color: #595959;
}
.users-tagged{
    text-align: center;
    padding-top: 1rem;
    color: #595959;
}
.user-tag{
    color: var(--ion-color-primary, fuchsia) !important;
}
.btn-tag-users{
    text-align: center;
    padding-top: 1rem;
    ion-icon{
        font-size: 1.5rem;
        padding-right: 0.5rem;
    }
    span{
        position: relative;
        bottom: 5px;
        font-weight: bold;
        font-family: "MontserratBold" !important;
        color: var(--ion-color-primary, fuchsia) !important;
    }
}
.buttons-bottom{
    padding-top: 1rem;
}
.btn-copy-previous{
    color: var(--ion-color-primary, fuchsia) !important;
    font-size: 1rem;
    width: 100%;
    border-radius: 25px;
    border: 1px solid  var(--ion-color-primary, fuchsia);
    box-shadow: -15px 0 25px 0px rgba(0,0,0,0.25);
    padding: 1rem;
    background: white;
    font-weight: bold;
    span{
        font-family: "MontserratBold" !important;
    }
}
.btn-next-count{
    color: white;
    background: var(--ion-color-primary, fuchsia) !important;
    font-size: 1rem;
    width: 100%;
    border-radius: 25px;
    border: 1px solid  var(--ion-color-primary, fuchsia);
    box-shadow: -15px 0 25px 0px rgba(0,0,0,0.25);
    padding: 1rem;
    font-weight: bold;
    span{
        font-family: "MontserratBold" !important;
    }
}

.prev{
    font-family: "MontserratBold" !important;
    font-weight: bold;
    color: var(--ion-color-primary, fuchsia) !important;;
    font-size: 0.75rem;
}
.next{
    font-family: "MontserratBold" !important;
    font-weight: bold;
    color: var(--ion-color-primary, fuchsia) !important;;
    font-size: 0.75rem;
}