<app-header [showAvatar]="false" [back]="true" [notifications]="false" [title]="title | titlecase"> </app-header>
<ion-content no-padding>
  <ion-card>
    <ion-card-content>
      <div *ngIf="stepRegister===1">
        <ion-item>
          <div class="register-steps">
            <span class="first-step">{{ 'REGISTER_LEFT' | translate }}</span>
            <span class="btn-1 step-active">1</span>
            <span>2</span>
            <span>3</span>
            <span class="last-step"> {{ 'REGISTER_RIGHT' | translate }} </span>
          </div>
        </ion-item>
        <ion-item lines="none">
          <div class="input-photo fileUpload" tappable (click)="showCamera()">
            <img [src]="dataForm.avatar?dataForm.avatar:'assets/icons/svg-gris/030-photo-camera.svg'" class="icon">
            <span class="input-photo-txt">{{ 'REGISTER_PHOTO' | translate }} </span>
          </div>
        </ion-item>

        <ion-item class="username" lines="none">
          <img [src]="'assets/icons/svg-green/026-social.svg'" class="icon">
          <input [(ngModel)]="dataForm.username" type="text" placeholder="{{ 'REGISTER_USERNAME_PLACEHOLDER' | translate }}" />
        </ion-item>
        <ion-item class="email" lines="none">
          <img [src]="'assets/icons/svg-green/028-contact.svg'" class="icon">
          <input [(ngModel)]="dataForm.email" type="email" placeholder="{{ 'REGISTER_EMAIL_PLACEHOLDER' | translate }}" />
        </ion-item>
        <!-- <ion-item class="msgError" lines="none">
          <span *ngIf="msgError">{{msgError}}</span>
        </ion-item> -->

        <div class="info-legal">
            {{ 'REGISTER_LEGALS_1' | translate }}
            <span (click)="OpenUrl('https://www.iubenda.com/terms-and-conditions/29613316')">{{
              'REGISTER_LEGALS_2' | translate }}
            </span>
            {{ 'REGISTER_LEGALS_3' | translate }}
            <span (click)="OpenUrl('https://www.iubenda.com/privacy-policy/90428184')">{{
              'REGISTER_LEGALS_4' | translate }}
            </span>,
            {{ 'REGISTER_LEGALS_5' | translate }}
            <span (click)="OpenUrl('https://www.iubenda.com/privacy-policy/90428184/cookie-policy')">
              {{'REGISTER_LEGALS_6' | translate }}
            </span>
          </div>

          <ion-button fill="outline" shape="round" expand="full" class="btn-accept" tappable (click)="validateStep1()">
            {{ 'REGISTER_BUTTON_STEP1' | translate }}
          </ion-button>

          <!-- <pre>{{dataForm.language | json}} </pre> -->
      </div>

      <div *ngIf="stepRegister===2">
        <ion-item>
          <div class="register-steps">
            <span>{{ 'REGISTER' | translate }}</span>
            <span>1</span>
            <span class="step-active">2</span>
            <span>3</span>
            <span>{{ 'ACCOUNT' | translate }}</span>
          </div>
        </ion-item>
        <br>
        <ion-item class="username" lines="none">
          <img [src]="'assets/icons/svg-green/026-social.svg'" class="icon">
          <input [(ngModel)]="dataForm.name" type="text" placeholder="{{ 'REGISTER_NAME_PLACEHOLDER' | translate }}" />
        </ion-item>
        <ion-item class="username" lines="none">
          <img [src]="'assets/icons/svg-green/026-social.svg'" class="icon">
          <input [(ngModel)]="dataForm.last_name" type="text" placeholder="{{ 'LASTNAME' | translate }}" />
        </ion-item>
        <ion-item class="username" lines="none">
          <img [src]="'assets/icons/svg-green/027-lock.svg'" class="icon">
          <input [(ngModel)]="dataForm.password" type="password" placeholder="{{ 'PASSWORD' | translate }}" />
        </ion-item>
        <ion-item class="username" lines="none">
          <img [src]="'assets/icons/svg-green/027-lock.svg'" class="icon">
          <input [(ngModel)]="dataForm.repeat_password" type="password" placeholder="{{ 'REGISTER_PASSWORD_REPEAT_PLACEHOLDER' | translate }}" />
        </ion-item>

        <!-- <ion-item class="msgError" lines="none">
          <span *ngIf="msgError">{{msgError}}</span>
        </ion-item> -->

        <ion-button fill="outline" shape="round" expand="full" class="btn-accept" tappable (click)="validateStep2()">
            {{ 'REGISTER_BUTTON_STEP2' | translate }}
          </ion-button>
      </div>

      <div *ngIf="stepRegister===3">
        <ion-item>
          <div class="register-steps">
            <span>{{ 'REGISTER_LEFT' | translate }}</span>
            <span>1</span>
            <span>2</span>
            <span class="step-active">3</span>
            <span>{{ 'REGISTER_RIGHT' | translate }}!</span>
          </div>
        </ion-item>
        <br>
        <br>
        <ion-item class="icon-step-3" lines="none" text-center>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-item>
        <ion-item class="msg-step-3" text-center lines="none">
          <h2>{{ 'REGISTER_MESSAGE_STEP3' | translate }} </h2>
        </ion-item>
        <br>
        <ion-item class="username" lines="none">
          <img [src]="'assets/icons/svg-gris/020-login.svg'" class="icon">
          <input [(ngModel)]="dataForm.verificationCode" type="text" placeholder="{{ 'REGISTER_VERIFICATION_CODE_PLACEHOLDER' | translate }}" />
        </ion-item>
        <br>
        <ion-button fill="outline" shape="round" expand="full" class="btn-accept" tappable (click)="validateAccount()">
          {{ 'REGISTER_BUTTON_STEP3' | translate }}
        </ion-button>
        <br>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
