ion-toolbar {
    --background: white;
}

.title {
    padding: 0.5rem;
    position: relative;
    text-align: center; // pad/ding-top: 10vH;
    img {
        border-radius: 15px;
        width: 35%;
        display: inline-block;
    }
    span {
        background: -webkit-linear-gradient(left, var(--ion-color-secondary, green), var(--ion-color-primary, fuchsia));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.75rem;
        font-family: "MontserratBold" !important;
        position: relative;
        bottom: 1rem;
    }
}

.input-photo-txt {
    text-align: center;
    width: 100%;
    font-family: "MontserratBold" !important;
    color: var(--ion-color-primary, fuchsia) !important;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.75rem;
    font-weight: bold;
    padding-top: 0.5rem;
}

.username {
    border-bottom: 1px solid var(--ion-color-secondary, green) !important;
    border-radius: 25px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    img {
        width: 35px;
        height: 35px;
        position: absolute;
    }
    input {
        color: var(--ion-color-secondary, green) !important;
        text-align: left;
        display: inline-block;
        border: 0 !important;
        background: transparent !important;
        padding: 1rem;
        width: 100%;
        padding-left: 45px;
        padding-right: 45px;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
    }
}

.email {
    border-bottom: 1px solid var(--ion-color-secondary, green) !important;
    border-radius: 25px;
    margin-bottom: 1rem;
    img {
        width: 35px;
        height: 35px;
        position: absolute;
    }
    input {
        color: var(--ion-color-secondary, green) !important;
        text-align: left;
        display: inline-block;
        border: 0 !important;
        background: transparent !important;
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
        padding-left: 45px;
        padding-right: 45px;
        text-align: center;
    }
}

.confirmation {
    text-align: center;
    color: var(--ion-color-secondary, green);
}

.grid-footer {
    bottom: 0;
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 0.5rem;
    text-align: center;
    color: white;
    ion-text {
        font-family: "MontserratBold" !important;
    }
}

.grid-footer-contrast {
    text-align: center;
    border: 1px solid var(--ion-color-primary);
    ion-text {
        font-family: "MontserratBold" !important;
    }
}

.logo-title {
    margin: 0 auto;
    margin-top: 5vH;
    padding-bottom: 0;
    .logo-img {
        img {
            padding: 7px;
            width: 70%;
            height: 100%;
            border-radius: 5px;
        }
    }
}

.register-steps {
    text-align: center;
    font-size: 0.8rem;
    .step-active {
        color: var(--ion-color-secondary, green);
        border: 1px solid var(--ion-color-secondary, green);
    }
    .btn-1 {
        padding: 3px 8px !important;
    }
    span {
        color: #B2B3B2;
        border-radius: 25px;
        border: 1px solid #B2B3B2;
        padding: 3px 6px;
        font-family: "MontserratBold" !important;
    }
    span:first-child {
        color: var(--ion-color-secondary, green);
        border: none;
    }
    span:first-child::after {
        position: absolute;
        width: 100px;
        border-bottom: 1px solid black;
    }
    span:last-child {
        // color: var(--ion-color-secondary, green);
        border: none;
    }
    span {
        color: #B2B3B2;
        border-radius: 25px;
        border: 1px solid #B2B3B2;
        padding: 3px 6px;
        font-family: "MontserratBold" !important;
        width: 24px;
        height: 24px;
        position: relative;
        margin-left: 4px;
        margin-right: 4px;
    }
}

.input-photo {
    padding: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
    width: 100%;
    img {
        margin: 0 auto;
        width: 60px !important;
    }
}

.info-legal {
    padding: 1rem;
    color: #B2B3B2;
    font-size: 0.8rem;
    text-align: center;
    span {
        color: var(--ion-color-primary, fuchsia);
    }
}

.btn-accept {
    --border-color: var(--ion-color-primary, fuchsia) !important;
    --background: white !important;
    --color: var(--ion-color-primary, fuchsia) !important;
    width: 100% !important;
    padding: 0 !important;
    font-weight: bolder;
    font-family: "MontserratBold" !important;
}

.icon-step-3 {
    ion-icon {
        font-family: "MontserratBold" !important;
        color: var(--ion-color-secondary, green) !important;
        width: 100%;
        font-size: 5rem;
        padding-bottom: 1rem;
    }
}

.msg-step-3 {
    h2 {
        font-family: "MontserratBold" !important;
        color: var(--ion-color-primary, fuchsia) !important;
    }
}

.msgError {
    text-align: center;
    font-size: 1rem;
    color: red !important;
    width: 100%;
    span {
        width: 100%;
    }
}

ion-input {
    text-align: left;
    display: inline-block;
    border-bottom: 1px solid white;
    width: 60vW;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    img {
        border-radius: 15px;
        width: 75px !important;
        height: 75px !important;
        border: 1px solid var(--ion-color-secondary, green);
        padding: 0.25rem;
        background: white;
        object-fit: cover;
    }
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

ion-footer {
    background: var(--ion-color-primary, fuchsia) !important;
}