@media (min-width: 769px) {
  .title{
    padding-top: 0;
    .logo{
      width: inherit;
      height: inherit;
      max-width: 206px;
    }
    margin-bottom: var(--md-spacing);
  }
  .steps{
    display: flex;
    justify-content: center;
    align-items: center;
    .text{
      color: var(--color-light-grey);
      font-size: 9px;
      font-family: 'MontserratBold';
      &.active{
        color: var(--ion-color-secondary);
      }
      &:first-child{
        margin-right: 20px;
      }
      &:last-child{
        margin-left: 20px;
      }
    }
    .steps-wrapp{
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        top: calc(50% - 1px);
        background-color: #B2B3B2;
        z-index: 1;
      }
    }
    .step{
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: 20px;
      height: 20px;
      color: var(--color-light-grey);
      border: 2px solid var(--color-light-grey);
      border-radius: 50%;
      margin-right: var(--sm-spacing);
      font-size: 9px;
      &.active{
        color: var(--ion-color-secondary);
        border: 2px solid var(--ion-color-secondary);
      }
      &:last-child{
        margin-right: 0px;
      }
    }
  }
  .avatar-fake{
    background-color: #eee;
    border: 2px solid var(--ion-color-primary);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 24px;
      height: 19px;
    }
  }
  .fileUpload {
    position: absolute;
    top: 0;
    width: 64px;
    opacity: 0;
    height: 64px;
    left: calc(50% - 32px);
    overflow: hidden;
    cursor: pointer !important;
    input{
      cursor: pointer !important;
      width: 64px;
      height: 64px;
    }
  }
  .form-user-email{
    margin-top: var(--md-spacing);
    margin-bottom: var(--md-spacing);
    img{
      margin-right: var(--sm-spacing);
      margin-bottom: var(--md-spacing);
    }
    ion-input{
      margin-bottom: var(--md-spacing);
      border-bottom: 2px solid var(--color-light-grey);
      &.error{
        border-bottom: 2px solid var(--ion-color-primary);
        color: var(--ion-color-primary);
      }
      &.ok{
        border-bottom: 2px solid var(--ion-color-secondary);
        color: var(--ion-color-secondary);
      }
    }
  }
  .info-legal{
    font-size: 9px;
    span{
      color: var(--ion-color-primary);
    }
  }
  .accept-and-continue{
    align-items: center;
    flex-direction: column;
    ion-button{
      border: 2px solid var(--ion-color-primary);
      color: var(--ion-color-primary);
      border-radius: 30px;
      margin-bottom: var(--md-spacing);
      margin-top: var(--md-spacing);
    }
    .im-user{
      color: var(--ion-color-primary);
      font-family: 'MontserratBold';
      ion-button{
        border: 0px;
      }
    }
  }
  .app-links{
    margin-top: var(--md-spacing);
    a:first-child{
      margin-right: var(--sm-spacing);
    }
  }
  .mt-60{
    margin-top: var(--lg-spacing);
  }
  .almost-done{
    margin-top: var(--lg-spacing);
    // margin-bottom: (--md-spacing);
    h2{
      color: var(--ion-color-secondary);
      margin-bottom: var(--lg-spacing);
      strong{
        font-family: 'MontserratBold';
        display: block;
      }
    }
  }
  .resend-email-box{
    p{
      font-size: 12px;
    }
    span{
      color: var(--ion-color-primary);
      text-decoration: underline;
    }
  }
}
