ion-card {
    box-shadow: none !important;
    .picture {
        width: 100%;
        height: 100vW;
        border: none !important;
        border-radius: 0 !important;
        object-fit: cover;
    }
    .user-tags {
        width: 100%;
        height: 100vW;
        position: absolute;
        top: 0;
        span {
            position: absolute;
            top: 0;
            background: var(--ion-color-secondary, green);
            color: var(--ion-color-light, white);
            padding: 0.5rem;
            font-size: 0.75rem;
            small{
                font-size: 0.75rem;
                font-weight: bold;
                font-family: "MontserratBold" !important;
            }
        }
        span::after {
            content: '';
            position: absolute;
            left: 40%;
            top: 100%;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid var(--ion-color-secondary, green);
            clear: both;
        }
    }
    .nonUserTag{
        background: var(--ion-dark-lint, #595959) !important;
    }
    .nonUserTag::after{
        border-top: 5px solid  var(--ion-dark-lint, #595959) !important;
    }
    .pendingTag{
        background: var(--ion-dark-lint, #595959) !important;
    }
    .pendingTag::after{
        border-top: 5px solid  var(--ion-dark-lint, #595959) !important;
    }
    .txt-touch {
        color: var(--ion-dark-lint, #595959);
        font-family: "MontserratRegular" !important;
    }
    .btn-save {
        span {
            padding-left: 2em !important;
            padding-right: 2em !important;
            font-weight: bolder;
        }
    }
}