<app-header [close]="true" (evtDismiss)="dismiss()" [title]="'TAG_TITLE' | translate | titlecase" [showAvatar]="false"
  [notifications]="false">
</app-header>

<ion-content no-padding no-margin>
  <ion-card mode="md" no-padding no-margin>
    <img class="picture" [ngClass]="{'photo.filter': !isNewPhoto}" id="photoToTag-{{album_index}}" [src]="photo.thumbnail">
    <div class="user-tags" text-center tappable (click)="addTag($event)">
      <span class="faceBold" [class.nonUserTag]="userTag.nonUser" [class.pendingTag]="userTag.hide" [class.pendingTag]="userTag.hide" *ngFor="let userTag of photo.tags" [style.left]="userTag.coords.col+'%'" [style.top]="userTag.coords.row+'%'">
        <small *ngIf="userTag.user"> @{{userTag.user.nickname}}</small>
        <small *ngIf="!userTag.user"> {{userTag.nonUser}}</small>
      </span>
    </div>
    <ion-card-header text-center style="padding-bottom:0;">
      <span class="faceRegular txt-touch">
        {{ 'TAG_MESSAGE' | translate }}
      </span>
    </ion-card-header>
    <ion-card-content>
      <ion-list no-padding no-margin>
        <ion-item no-padding no-margin *ngFor="let tag of photo.tags" tappable (click)="null">
          <ion-avatar slot="start" *ngIf="tag.user"> <img [src]="tag.user.avatar || '/assets/imgs/logo-cam-fb.png'"> </ion-avatar>
          <ion-avatar slot="start" *ngIf="!tag.user"> <img [src]="'assets/icons/svg-gris/026-social.svg'"> </ion-avatar>
          <ion-label color="primary" *ngIf="tag.user">
            <h2 class="faceRegular">@{{tag.user.nickname}}</h2>
          </ion-label>
          <ion-label color="primary" *ngIf="tag.nonUser">
            <h2 class="faceRegular">{{tag.nonUser}}</h2>
          </ion-label>
          <!-- <ion-icon tappable (click)="removeTag(tag)" color="primary" name="close" slot="end"></ion-icon> -->
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
