@media (min-width:769px) {
  .flex-wrap{
    flex-wrap: wrap;
  }
  .searchbar-clear-icon{
    color: red;
  }
  .user-tags{
    position: relative !important;
    height: 600px !important;
    max-width: 600px !important;
    max-height: 600px !important;
    span{
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .picture{
      height: 100% !important;
    }
    #who_is, .who-is{
      background-color: rgba(0, 0, 0, 0.4) !important;
      padding: 5px 15px;
      border: 2px solid white;
      color: white;
      &::after {
          content: '';
          position: absolute;
          left: 40%;
          top: 100%;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid white !important;
          clear: both;
      }
    }
    .remove-icon{
      margin-left: 7px;
      width: 12px;
      height: 12px;
    }
  }

  .buttons-wrapper{
    margin-top: var(--sm-spacing);
    .btn{
      background-color: var(--ion-color-primary);
      border-radius: var(--md-spacing);
      color: white;
      font-family: 'MontserratBold';
      padding: 5px var(--md-spacing) 5px var(--md-spacing);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: var(--sm-spacing);
      font-size: var(--xxs-size);
    }
    .close-tags-panel-btn{
      background-color: white;
      border: 2px solid var(--ion-color-primary);
      color: var(--ion-color-primary);
    }
  }
}
