<app-header [title]="'SEARCH_TITLE' | translate | titlecase"></app-header> 

<ion-content class="content-form" *ngIf="isMobile">
  <ion-segment mode="md" [(ngModel)]="segmentSelected">
    <ion-segment-button value="photos">
      {{ 'SEARCH_PHOTOS' | translate }}
    </ion-segment-button>
    <ion-segment-button value="users">
      {{ 'SEARCH_USERS' | translate }}
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngIf="segmentSelected==='photos'">
    <ion-card-content no-padding>
      <ion-grid no-padding no-margin>
        <ion-row no-padding no-margin style="padding-top:1rem;">
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label position="stacked" color="secondary">
                <ion-icon name="ios-icon-calendar"></ion-icon>
                {{ 'SEARCH_PHOTO_FROM' | translate }}
              </ion-label>
              <ion-datetime style="font-size:0.75rem;" [(ngModel)]="filters.startDate" placeholder="{{'SEARCH_PHOTO_DATE' | translate}}" pickerFormat="DD/MM/YYYY HH:mm"
                display-format="DD/MM/YY HH:mm"></ion-datetime>
              <ion-icon *ngIf="filters.startDate" (click)="filters.startDate=null;" class="btn-reset-item" color="primary"
                name="close"></ion-icon>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item lines="none">
              <ion-label position="stacked" color="secondary">
                <ion-icon name="ios-icon-calendar"></ion-icon>
                {{ 'SEARCH_PHOTO_TO' | translate }}
              </ion-label>
              <ion-datetime style="font-size:0.75rem;" [(ngModel)]="filters.endDate" placeholder="{{'SEARCH_PHOTO_DATE' | translate}}" display-format="DD/MM/YYYY HH:mm"></ion-datetime>
              <ion-icon *ngIf="filters.endDate" (click)="filters.endDate=null;" class="btn-reset-item" color="primary"
                name="close"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div style="margin: 0 auto; width: 90%;  height: 1px;"></div>
          </ion-col>
        </ion-row>
      
        <ion-row no-padding no-margin *ngIf="segmentSelected==='photos'">
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="stacked" color="secondary">
                <ion-icon name="ios-icon-locate"></ion-icon>
                {{ 'SEARCH_PHOTO_PLACE' | translate}}
              </ion-label>
              <ion-icon *ngIf="filters.address" (click)="filters.address=null; filters.geometry=null;" class="btn-reset-item"
                color="primary" name="close"></ion-icon>
              <ion-text (click)="openSearchAddressModal()" class="txt-select-address" *ngIf="!filters.address" style="width:100%;"
                tappable text-left>{{ 'SEARCH_PHOTO_PLACE_PLACEHOLDER' | translate}} </ion-text>
              <ion-text (click)="openSearchAddressModal()" class="txt-select-address" *ngIf="filters.address" style="width:100%;"
                tappable text-left> {{filters.address}} </ion-text>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label color="secondary" style="font-size:0.85rem;">
                {{ 'SEARCH_PHOTO_RANGE' | translate}}
                <strong float-right class="txt-kms">{{filters.range}} km</strong>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-range [(ngModel)]="filters.range" no-padding dualKnobs="false" min=0 max=100 step="1"></ion-range>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div style="margin: 0 auto; width: 90%;  height: 1px;"></div>
          </ion-col>
        </ion-row>

        <ion-row no-padding no-margin>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="stacked" color="secondary">
                <ion-icon name="ios-icon-tag-green"></ion-icon>
                {{ 'SEARCH_PHOTO_HASHTAG' | translate}}
              </ion-label>
              <ion-input type="text" placeholder="{{ 'SEARCH_PHOTO_HASHTAG_PLACEHOLDER' | translate }}" tappable [(ngModel)]="inputHashtag"
                type="text" (ionChange)="searchHashtags($event)"></ion-input>
            </ion-item>
            <ion-list>
              <ion-item lines="none" *ngFor="let hashtag of hashtagResults" class="list-hashtags-results">
                <ion-label color="secondary">#{{hashtag.hashTag}}</ion-label>
                <ion-button fill="clear" slot="end" size="small" (click)="useHashTag(hashtag)" color="primary">
                  {{ 'SEARCH_PHOTO_HASHTAG_ADD' | translate }}
                </ion-button>
              </ion-item>
            </ion-list>
            <ion-item lines="none" text-center *ngIf="filters.hashtags.length>0" class="list-hashtags">
              <ion-chip *ngFor="let hashtag of filters.hashtags" color="light">
                <ion-label color="primary">#{{hashtag.hashTag}}</ion-label>
                <ion-icon (click)="removeHashTag(hashtag.id)" color="primary" name="close"></ion-icon>
              </ion-chip>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div style="margin: 0 auto; width: 90%;  height: 1px;"></div>
          </ion-col>
        </ion-row>

        <ion-row no-padding no-margin>
          <ion-col size="12">
            <ion-item lines="none" *ngIf="!filters.user">
              <ion-label position="stacked" color="secondary">
                <ion-icon name="ios-icon-my-profile-green"></ion-icon>
                {{ 'SEARCH_PHOTO_AUTHOR' | translate }}
              </ion-label>
              <ion-input *ngIf="!filters.user" type="text" placeholder="{{ 'SEARCH_PHOTO_AUTHOR_PLACEHOLDER' | translate }}"
                (ionChange)="searchUser($event, 'photo')"></ion-input>
            </ion-item>
            <ion-list lines="none">
              <ion-item *ngFor="let author of authorResults" lines="none" class="list-users-results">
                <ion-avatar slot="start">
                  <img [src]="author.avatar || '/assets/imgs/logo-cam-fb.png'">
                </ion-avatar>
                <ion-label color="secondary">@{{author.nickname}} ({{author._fullName()}})</ion-label>
                <ion-button fill="clear" slot="end" size="small" tappable (click)="setUser(author)" color="primary">
                  {{ 'SEARCH_PHOTO_AUTHOR_ADD' | translate }}
                </ion-button>
              </ion-item>
            </ion-list>
            <ion-item class="user-selected" no-padding *ngIf="filters.user" lines="none">
              <ion-avatar slot="start">
                <img [src]="filters.user.avatar  || '/assets/imgs/logo-cam-fb.png'">
              </ion-avatar>
              <h4 tappable (click)="openSearchUserModal()">@{{filters.user.nickname}}</h4>
              <ion-button slot="end" fill="clear" color="dark" tappable (click)="filters.user=null">
                <ion-icon name="close" color="primary"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div style="margin: 0 auto; width: 90%;  height: 1px; margin-bottom: 2rem;"></div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6 "class="btn-reset">
              <!-- <ion-icon name="close" color="danger"></ion-icon> -->
            <ion-button expand="block" color="primary" fill="outline" (click)="resetFilters()">{{ 'SEARCH_BUTTON_RESET' | translate }}</ion-button>
          </ion-col>
          <ion-col size="6" class="btn-search">
              <!-- <ion-text color="primary" (click)="search()">
                <strong>{{ 'SEARCH_BUTTON_SEARCH' | translate }}</strong>
              </ion-text> -->
              <!-- <ion-icon name="search"></ion-icon> -->

              <ion-button expand="block" color="primary" (click)="search()">{{ 'SEARCH_BUTTON_SEARCH' | translate }}</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div style="width: 100%; height: 2rem;"></div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-grid no-padding no-margin *ngIf="segmentSelected==='users'">
    <ion-row>
      <ion-col col size="12">
        <ion-searchbar animated placeholder="{{ 'SEARCH_USERS_PLACEHOLDER' | translate | titlecase  }}" (ionClear)="clearResults()" (ionChange)="searchUser($event, 'user')"
          [(ngModel)]="inputUser">
        </ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col col size="12">
        <ion-list *ngIf="usersConnected.length>0" lines="none" no-padding>
          <ion-list-header>
            <ion-label>{{ 'SEARCH_USERS_CONNECTED' | translate }}</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let user of usersConnected" tappable (click)="goPublicProfile(user)">
            <ion-avatar item-start>
              <img [src]="user.avatar || '/assets/imgs/logo-cam-fb.png'">
            </ion-avatar>
            <h2 class="userItem">@{{user.nickname}}</h2>
          </ion-item>
        </ion-list>
        <ion-list *ngIf="usersNotConnected.length>0" lines="none" no-padding>
          <ion-list-header>
            <ion-label>{{ 'SEARCH_USERS_NOT_CONNECTED' | translate }}</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let user of usersNotConnected" tappable (click)="goPublicProfile(user)">
            <ion-avatar item-start>
              <img [src]="user.avatar || '/assets/imgs/logo-cam-fb.png'">
            </ion-avatar>
            <ion-label class="userItem">@{{user.nickname}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
 
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="segmentSelected==='photos'">
    <ion-fab-button color="primary" tappable (click)="search()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>