.smallbutton {
    font-size: x-small;
    margin: 0;
}

.userItem {
    font-size: 1rem;
    padding-left: 1rem;
    color: var(--ion-color-primary, fuchsia);
    font-family: "MontserratRegular" !important;
    padding-bottom: 0.5rem;
}

ion-input {
    font-size: 0.75rem !important;
    font-family: "MontserratRegular" !important;
}

ion-datetime {
    font-size: 0.75rem !important;
    color: #666 !important;
    font-family: "MontserratRegular" !important;
}
ion-text{
    padding-left: 1rem !important;
}

.txt-select-address {
    color: #666 !important;
}

.btn-reset-item {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: red;
    z-index: 100;
}

ion-label {
    font-family: "MontserratBold" !important;
    ion-icon {
        font-size: 1.5rem;
        vertical-align: middle;
        padding-right: 0.5rem;
    }
}

ion-text {
    font-size: 0.75rem;
    font-family: "MontserratRegular" !important;
}

ion-range {
    padding-left: 1rem;
    padding-right: 1rem;
}

.txt-kms {
    color: var(--ion-color-primary, fuchsia) !important;
}

.user-selected {
    ion-avatar {
        margin-left: 1rem;
    }
    h4{
        color: var(--ion-color-primary, fuchsia) !important;
    }
}

.list-hashtags-results {
    ion-label {
        font-family: "MontserratRegular" !important;
    }
}

.list-hashtags {
    ion-chip {
        ion-label {
            font-family: "MontserratRegular" !important;
        }
    }
}

.list-users-results {
    ion-label {
        font-family: "MontserratRegular" !important;
    }
}
.btn-search{
    text-align: right;
    padding-right: 2rem;
    ion-icon{
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 0;
        color: var(--ion-color-primary, fuchsia) !important;
    }
    ion-text{
        font-size: 1rem;
        color: var(--ion-color-primary, fuchsia) !important;
    }
}
.btn-reset{
    text-align: left;
    padding-left: 2rem;
    ion-icon{
        font-size: 2rem;
        position: absolute;
        left: 1rem;
        top: 0;
        color: var(--ion-color-danger, red) !important;
    }
    ion-text{
        font-size: 1rem;
        color: var(--ion-color-danger, red) !important;
    }
}
ion-searchbar {
    --icon-color: var(--ion-color-primary, fuchsia);
    input {
        background-color: #FFFFFF;
        box-shadow: -16px 0px 25px 0px rgba(0, 0, 0, 0.15);
        border: 1px solid #FF4365 !important;
        border-radius: 25px;
    }
}

ion-segment-button{
    background: #b2b3b23d !important;
    --border-color: transparent;
    --padding-bottom: 1rem;
    --padding-top: 1rem;
    --border-radius: 0;
}
.segment-button-checked{
    background: white !important;
}