@media (min-width: 769px) {
  .search-wrapp {
    .group-label {
      margin-top: var(--md-spacing);

      .icon {
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }

      color: var(--ion-color-secondary);
      font-size: var(--xs-size);
    }

    .input-group {

      ion-datetime,
      ion-input {
        padding-left: 0;
        border-bottom: 1px solid var(--color-light-grey);
        color: var(--color-light-grey);
        font-size: var(--sm-size);
      }

      .hashtag {
        margin-right: var(--sm-spacing);
      }

      .remove-hashtag {
        width: 10px;
        height: 10px;
        margin-left: 7px;
      }
    }

    .range {
      .distance {
        margin-top: var(--sm-spacing);
        justify-content: space-between;

        strong {
          font-size: 11px;
        }
      }
    }

    .buttons {
      margin-top: var(--md-spacing);
    }

    .results {
      margin-top: var(--md-spacing);

      .user-item {
        padding-top: var(--sm-spacing);
        padding-bottom: var(--sm-spacing);
        border-bottom: 1px solid #eee;

        img.avatar {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          margin-right: var(--sm-spacing);
          border: 2px solid var(--ion-color-primary);
        }

        .username {
          font-size: var(--xs-size);
          margin-right: var(--sm-spacing);
          color: var(--ion-color-primary);
          font-family: 'MontserratBold' !important;
        }

        .fullname {
          font-size: var(--xxs-size);
          color: var(--ion-color-dark);
        }
      }

      .item {
        color: var(--ion-color-secondary);
        font-size: var(--xs-size);
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
        justify-content: space-between;

        .add-it {
          color: var(--ion-color-primary);
          font-family: 'MontserratBold' !important;
          cursor: pointer;
        }
      }
    }

    .remove-user {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 0;
    }
  }

  ion-datetime {
    font-family: 'Montserrat' !important;
    font-size: var(--xs-size) !important;

    .datetime-text {
      font-family: 'Montserrat' !important;
      font-size: var(--xs-size) !important;
    }

    button {
      font-family: 'Montserrat' !important;
      font-size: var(--xs-size) !important;

      ion-ripple-effect {
        font-family: 'Montserrat' !important;
        font-size: var(--xs-size) !important;
      }
    }
  }
}