<!-- <app-header [showAvatar]="false" [notifications]="false" [title]="'Facebusters'"> </app-header> -->
<ion-content no-padding >
  <div class="access-background">
    <img class="logoTitle" src="assets/imgs/logo-title.png" alt="logo-title">
    
    <p class="welcome">
        {{ 'ACCESSS_WELCOME' | translate }}
    </p>
    <div class="buttons">
      <ion-button shape="round" expand="full" class="btn-login" tappable (click)="goToLogin()">
        {{ 'ACCESS_BUTTON_LOGIN' | translate }}
      </ion-button>
      <ion-button shape="round" expand="full" class="btn-register" tappable (click)="goToRegister()">
        {{ 'ACCESS_BUTTON_REGISTER' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>