
.access-background{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/imgs/degradate.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.logoTitle{
    padding: 3rem;
    padding-top: 50%;
}
.welcome{
    font-family: "MontserratRegular" !important;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.buttons{
    padding: 3rem;
    width: 100%;
    position: absolute;
    bottom: 10%;
}

.btn-login{
    margin-bottom: 1rem;
    --background: white !important;
    --color: var(--ion-color-primary, fuchsia) !important;
    --border-color: var(--ion-color-primary, fuchsia) !important;
}
.btn-register{
    --background: transparent !important;
    --color: var(--ion-color-light, white) !important;
    --border-style: solid;
    --border-width: 1px;
    --border-color: var(--ion-color-light, white) !important;
}