@media(min-width: 769px) {
  page-access{
    background-image: none !important;
  }
  .web-access-page,
  .left-col,
  .right-col{
    height: 100vh;

  }
  .gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    background: rgba(92, 255, 233, 1);
    background: -moz-linear-gradient(-45deg, rgba(92, 255, 233, 1) 0%, rgba(214, 102, 162, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(92, 255, 233, 1)), color-stop(100%, rgba(214, 102, 162, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(92, 255, 233, 1) 0%, rgba(214, 102, 162, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(92, 255, 233, 1) 0%, rgba(214, 102, 162, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(92, 255, 233, 1) 0%, rgba(214, 102, 162, 1) 100%);
    background: linear-gradient(135deg, rgba(92, 255, 233, 1) 0%, rgba(214, 102, 162, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cffe9', endColorstr='#d666a2', GradientType=1);
    background: linear-gradient(135deg, rgba(92, 255, 233, 1) 0%, rgba(214, 102, 162, 1) 100%);
  }
  .left-col{
    display: flex;
    justify-content: center;
    align-items: center;
    .left-img-access{
      max-width: 400px;
    }
  }
  .right-col{
    padding: 0;
    background-image: url('../../assets/imgs/access-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    .gradient{
      left: 0;
      top: 0;
    }
  }
  .login-form-actions{
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .desktop-logo{
      margin-bottom: 60px;
    }
    span{
      color: white;
    }
    .welcome{
      font-weight: bold;
      font-size: var(--lg-size);
    }
  }
  .btn-access, .btn-login, .btn-register{
    width: 330px;
    border-radius: 50px;
    height: 50px;
    margin-top: var(--sm-spacing);
    &:focus{
      outline: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a{
    text-decoration: none;
  }
  .btn-access{
    margin-top: var(--md-spacing);
    color: var(--ion-color-primary);
    background-color: white;
  }
  .btn-login{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      margin-right: var(--sm-spacing);
    }
  }
  .register-wrapper{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.35);
    .web-btn-register{
      color: white;
      margin: 0;
      width: 100%;
      height: 50px;
      background: transparent;
    }
  }
}
