<app-header [close]="true" [notifications]="false" [showAvatar]="false" [saveButton]="true" (save)="save()" [title]="'EDIT_PROFILE_TITLE' | translate | titlecase"
  *ngIf="user"> </app-header>
<ion-content class="main-form" *ngIf="!isLoading">
  <ion-card *ngIf="user">
    <ion-card-header text-center class="avatar">
      <ion-avatar text-center center style="margin: auto;">
        <img id="avatarImg" class="img-profile" [src]="user.avatar">
      </ion-avatar>
      <div class="fileUpload" no-padding no-margin>
        <span class="label-edit-avatar" tappable (click)="showCamera()">{{ 'EDIT_PROFILE_PIC' | translate }}</span>
      </div>
      <ion-card-subtitle no-padding no-margin class="username">@{{user.nickname}}</ion-card-subtitle>
      <ion-card-subtitle no-padding no-margin class="name">{{user._fullName()}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon slot="start" src="./assets/icons/svg-green/018-profile.svg"></ion-icon>
        <ion-input [(ngModel)]="user.firstName" type="text" placeholder="{{ 'EDIT_PROFILE_NAME_PLACEHOLDER' | translate }}"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" src="./assets/icons/svg-green/018-profile.svg"></ion-icon>
        <ion-input [(ngModel)]="user.lastName" type="text" placeholder="{{ 'EDIT_PROFILE_SURNAME_PLACEHOLDER' | translate }}"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item-divider lines="none" color="light">
        <ion-text color="secondary" class="small-divider">{{ 'EDIT_PROFILE_PRIVATE_INFO' | translate }}</ion-text>
      </ion-item-divider>
      <ion-item lines="none">
        <ion-icon class="color-secondary" slot="start" src="./assets/icons/svg-green/028-contact.svg"></ion-icon>
        <ion-input [(ngModel)]="user.email" type="text" placeholder="{{ 'EDIT_PROFILE_EMAIL_PLACEHOLDER' | translate }}"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" src="./assets/icons/svg-green/027-lock.svg"></ion-icon>
        <ion-input [(ngModel)]="old_password" type="password" placeholder="{{ 'EDIT_PROFILE_PASSWORD_PLACEHOLDER' | translate }}"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" src="./assets/icons/svg-gris/027-lock.svg"></ion-icon>
        <ion-input [(ngModel)]="new_password" [disabled]="old_password==null || old_password==''" type="password"
          placeholder="{{ 'EDIT_PROFILE_NEW_PASSWORD_PLACEHOLDER' | translate }}"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" src="./assets/icons/svg-gris/027-lock.svg"></ion-icon>
        <ion-input [(ngModel)]="new_password_repeat" [disabled]="new_password==null || new_password==''" type="password"
          placeholder="{{ 'EDIT_PROFILE_REPEAT_PASSWORD_PLACEHOLDER' | translate }}"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item-divider color="light" lines="none">
        <ion-text color="secondary" class="small-divider">{{ 'EDIT_PROFILE_OTHER_ACTIONS' | translate }}</ion-text>
      </ion-item-divider>

      <!-- <ion-item lines="none">
        <ion-icon slot="start" color="primary" name="flag" alt="flag-icon" style="font-size: 1.5rem;"></ion-icon>
        <ion-label stacked color="primary" style="font-family: 'MontserratBold' !important; font-weight:bold">
          {{ 'EDIT_PROFILE_LANGUAGE' | translate }}
        </ion-label>
        <ion-select placeholder="{{ 'EDIT_PROFILE_LANGUAGE' | translate | titlecase }}" [(ngModel)]="user.language">
          <ion-select-option value="EN">{{ 'English' | translate | titlecase }}</ion-select-option>
          <ion-select-option value="ES">{{ 'Spanish' | translate | titlecase }}</ion-select-option>
          <ion-select-option value="IT">{{ 'Italian' | translate | titlecase }}</ion-select-option>
          <ion-select-option value="FR">{{ 'French' | translate | titlecase }}</ion-select-option>
          <ion-select-option value="DE">{{ 'German' | translate | titlecase }}</ion-select-option>
        </ion-select>
      </ion-item> -->

      <ion-item lines="none" (click)="linkFacebook()">
        <ion-icon slot="start" color="primary" name="logo-facebook" alt="logo-facebook" style="font-size: 1.5rem;"></ion-icon>
        <ion-label stacked color="primary" style="font-family: 'MontserratBold' !important; font-weight:bold">
          {{ 'EDIT_PROFILE_LINK_FACEBOOK' | translate }}
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" src="./assets/icons/svg-pink/015-tag.svg" alt="tag-icon"></ion-icon>
        <ion-label stacked color="primary" style="font-family: 'MontserratBold' !important; font-weight:bold">
          {{ 'EDIT_PROFILE_TAG_CONTROL' | translate }}
        </ion-label>
        <ion-toggle (ionChange)="setTagControl()" [(ngModel)]="user.tagControl"></ion-toggle>
      </ion-item>
      <ion-item lines="none" tappable (click)="logout()">
        <ion-icon slot="start" src="./assets/icons/svg-pink/006-sign-out.svg" alt="user-icon"></ion-icon>
        <ion-text color="primary" style="font-family: 'MontserratBold' !important; font-weight:bold">{{
          'EDIT_PROFILE_LOGOUT' | translate }}
        </ion-text>
      </ion-item>

      <ion-item lines="none" text-center style="width: 100%; border-top: 1px solid lightgray;  ">
        <ion-icon slot="start" color="danger" name="trash" alt="trash-icon"></ion-icon>
        <ion-text color="danger" style="font-family: 'MontserratBold' !important; font-weight:bold" tappable (click)="presentAlertDeleteAccount()">{{
          'EDIT_PROFILE_DELETE' | translate }}
        </ion-text>
      </ion-item>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item-divider lines="none" color="light" style="padding-bottom:16px;">
        <ion-text color="secondary" class="small-divider">{{ 'EDIT_PROFILE_LEGALS' | translate }}</ion-text>
      </ion-item-divider>
      <ion-item lines="none" class="small">
        <ion-text color="primary" (click)="OpenUrl('https://www.iubenda.com/terms-and-conditions/29613316')">
          {{ 'EDIT_PROFILE_TERMS' | translate }}</ion-text>
      </ion-item>
      <ion-item lines="none" class="small">
        <ion-text color="primary" (click)="OpenUrl('https://www.iubenda.com/privacy-policy/90428184')">
          {{ 'EDIT_PROFILE_PRIVACY' | translate }}</ion-text>
      </ion-item>
      <ion-item lines="none" class="small">
        <ion-text color="primary" (click)="OpenUrl('https://www.iubenda.com/privacy-policy/90428184/cookie-policy')">{{
          'EDIT_PROFILE_COOKIE' | translate }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>