.btn-save {
    position: absolute;
    right: 5vW;
    top: 0.5vH !important;
    height: auto !important;
    background: transparent;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
}

.main-form {
    padding-top: 0 !important;
}

.avatar {
    padding-bottom: 0 !important;
    .img-profile {
        margin: auto;
        border: 2px solid var(--ion-color-primary);
    }
    .label-edit-avatar {
        display: block; //font-size: 1rem;
        color: var(--ion-color-primary);
        font-weight: bold;
        font-family: 'MontserratBold' !important; //padding-top: 1rem;
    }
    .username {
        display: block; //font-size: 1.2rem;
        padding: 0.3rem;
        color: var(--ion-color-secondary);
        text-transform: lowercase;
    }
    .name {
        display: block;
        font-size: 0.5rem;
        padding: 0.3rem;
        color: var(--ion-color-dark) !important;
    }
}

.form {
    ion-item {
        font-size: 1.25rem;
        padding: 0 !important;
        margin: 0 !important;
        color: var(--ion-color-secondary) !important;
        .item-inner {
            margin-left: 0 !important;
            border-bottom: 1px solid var(--ion-color-secondary) !important;
        }
        ion-input {
            color: var(--ion-color-dark) !important;
        }
        .icon-show-pass {
            font-size: 2rem;
            color: var(--ion-color-primary) !important;
        }
    }
    .only-label {
        span {
            color: var(--ion-color-secondary) !important;
            font-weight: bold;
            font-size: 1rem;
        }
        .item-inner {
            border: none !important;
        }
    }
    .buttons-syncronize {
        .item-inner {
            border: none !important;
        }
        .only-label {
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;
        }
        ion-item {
            ion-label {
                margin: 0 !important;
            }
            button {
                padding: 2rem 2rem;
                ion-icon {
                    margin-right: 2rem;
                }
            }
        }
    }
    .buttons-other-actions {
        .item-inner {
            border: none !important;
        }
        ion-item {
            min-height: 2rem !important;
            ion-label {
                margin: 0 !important;
            }
            button {
                padding: 0rem 1rem;
                ion-icon {
                    margin-right: 2rem;
                }
            }
        }
    }
}

.btn-save {
    font-weight: bold;
    width: 20vW;
    height: 6vH;
    top: 3vH;
    font-size: 1rem;
    z-index: 999999 !important;
    background-color: #fff !important;
    display: block;
    position: fixed;
    right: 0;
    text-align: center;
    padding-top: 1.5rem;
    color: var(--ion-color-primary) !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 2px;
    font-size: 0.75rem;
    padding-top: 1rem !important;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.spinnerLoading {
    right: 8vW;
    position: absolute;
    top: 1.5vH;
    color: var(--ion-color-primary);
}

.btn-header {
    position: absolute;
    top: 3px;
    right: 0;
    z-index: 10;
}

.no-shadows {
    box-shadow: none;
}

.small-divider {
    font-size: 0.75rem;
    font-weight: bold;
    font-family: "MontserratBold" !important;
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

ion-item {
    --border-width: 0;
    --border-color: #FFF;
    --padding-end: 16px;
    padding-bottom: 10px;
    font-size: 0.8rem;
}

ion-input {
    border-bottom: 1px solid var(--ion-color-secondary);
    height: 50px;
}

ion-item-divider {
    border: none;
}

.color-secondary {
    color: var(--ion-color-secondary);
}

.no-border {
    border: none !important;
}

.small {
    font-size: small;
    --min-height: 0;
}

.error {
    text-align: center;
    color: var(--ion-color-danger);
    padding: 0.5em;
    font-size: 0.75rem;
    font-family: "MontserratBold" !important;
}