@media(min-width: 769px) {

  .avatar-image-wrapper {
    .label-edit-avatar {
      color: var(--ion-color-primary);
      font-size: 13px;
      font-family: 'MontserratBold' !important;
    }

    .username {
      font-size: var(--sm-size);
      color: #646464;
    }

    .name {
      font-size: var(--xxs-size);
      color: #646464;
      font-family: 'MontserratBold' !important;

    }
  }

  .form {
    .label {
      font-size: 10px;
      color: var(--ion-color-secondary);
      font-family: 'MontserratBold' !important;
      margin-bottom: var(--sm-spacing);
    }

    .form-group {
      margin-bottom: var(--md-spacing);

      img {
        margin-right: var(--sm-spacing);
        margin-bottom: var(--md-spacing);
      }

      ion-input {
        margin-bottom: var(--md-spacing);
        border-bottom: 2px solid var(--ion-color-secondary);

        &.error {
          border-bottom: 2px solid var(--ion-color-primary);
        }
      }

      .mb-15 {
        margin-bottom: var(--sm-spacing);
      }

      .links {
        a {
          font-size: 12px;
          margin-right: 10px;

          &:hover {
            text-decoration: none;
            color: var(--ion-color-secondary);
          }
        }
      }
    }

    .other-account-btns {}

    .save-exit {}

    button {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--ion-color-primary);
      font-size: 13px;
      font-family: 'MontserratBold' !important;

      img {
        margin-bottom: 0 !important;
        margin-right: 5px !important;
        max-width: 12px !important;
      }
    }

    .btn-white {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      margin-right: var(--sm-spacing);
      --background: white !important;
      --color: var(--ion-color-primary, fuchsia) !important;
      border: 2px solid var(--ion-color-primary);
      border-radius: 30px;
    }

    .save {
      --background: var(--ion-color-primary) !important;
      --color: white !important;
      background-color: var(--ion-color-primary);
    }
  }
  .dropdown-toggle:after{
    display: none;
  }
  .chose-lang {
    position: relative;
    display: inline;
    border: 2px solid var(--ion-color-primary);
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    color: var(--ion-color-primary);
    &:after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      position: absolute;
      right: 13px;
      top: 13px;
    }
  }

  .lang-selector {
    img.flag {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-bottom: 0 !important;
    }
  }

  .error-msg-wrapper {
    color: var(--ion-color-primary);
    margin-bottom: var(--md-spacing);
    font-family: 'MontserratBold';
  }
}