<app-header [showAvatar]="false" [notifications]="false" [title]="'Facebusters'"> </app-header>
<ion-content no-padding>
  <ion-card>
    <ion-card-header style="padding-bottom: 0;">
      <img class="logo-face" [src]="'assets/imgs/icon.png'">
      <ion-card-subtitle text-center class="faceBold">{{ 'LOGIN_LOGIN' | translate }}</ion-card-subtitle>
      <ion-card-subtitle text-center>{{ 'LOGIN_WELCOME_MESSAGE' | translate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="username" lines="none">
        <img [src]="'assets/icons/svg-green/026-social.svg'" class="icon">
        <input #usernameField [(ngModel)]="form.username" (click)="editUsername()" type="text" placeholder="{{ 'LOGIN_USER_PLACEHOLDER' | translate }}">
      </ion-item>
      <ion-item class="password" lines="none">
        <img [src]="'assets/icons/svg-green/027-lock.svg'" class="icon">
        <input [(ngModel)]="form.password" type="password" placeholder="{{ 'LOGIN_PASSWORD_PLACEHOLDER' | translate }}">
      </ion-item>
      <ion-button shape="round" expand="full" class="btn-access" tappable (click)="login()">
        {{ 'LOGIN_BUTTON' | translate }}
      </ion-button>
      <ion-item class="forgot-password" lines="none" (click)="goToResetPassword()">
        <span> {{ 'LOGIN_FORGOT' | translate }} </span>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content no-padding>
      <ion-grid>
        <ion-row>
          <ion-col size="4" text-center (click)="socialMobileSignIn('facebook')">
            <div class="login-fb">
              <img src="./assets/icons/facebook-icon.png" alt="logo-fb-white" class="login-icon" />
            </div>
            <div class="login-social-txt"> {{ 'LOGIN_FACEBOOK' | translate }} </div>
          </ion-col>
          <ion-col size="4" text-center (click)="loginWithFingerPrint()">
            <div class="login-fingerprint">
              <img src="./assets/icons/faceid.png" alt="logo-fingerprint" class="login-icon" />
            </div>
            <div class="login-social-txt"> {{ 'LOGIN_FINGERPRINT_FACEID' | translate }} </div>
          </ion-col>
          <ion-col size="4" text-center (click)="socialMobileSignIn('google')">
            <div class="login-google" lines="none">
              <img src="./assets/icons/gplus-icon.png" alt="logo-gplus-white" class="login-icon" />
            </div>
            <div class="login-social-txt"> {{ 'LOGIN_GOOGLE' | translate }} </div>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col size="12">
            <pre>{{dataLoginGoogle | json}}</pre>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <pre>{{dataLoginFacebook | json}}</pre>
          </ion-col>
        </ion-row> -->

        <ion-row>
          <ion-col size="12">
            <hr>
            <ion-button shape="round" size="full" class="btn-create" tappable (click)="goToRegister()"> {{
              'LOGIN_REGISTER_BUTTON' | translate }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>