.logo-face{
    width: 20%;
    margin: 0 auto;
    padding: 0rem;
    border-radius: 15px;
    margin-bottom: 1.5rem;
}
.title {
    padding: 0.5rem;
    position: relative;
    text-align: center; // pad/ding-top: 10vH;
    img {
        border-radius: 15px;
        height: 60px;
        width: 60px;
        display: inline-block;
    }
    span {
        background: -webkit-linear-gradient(left, var(--ion-color-secondary, green), var(--ion-color-primary, fuchsia));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.75rem;
        font-family: "MontserratBold" !important;
        position: relative;
        bottom: 1rem;
    }
}

.username {
    border-bottom: 1px solid var(--ion-color-secondary, green) !important;
    border-radius: 25px;
    margin-bottom: 1rem;
    img {
        width: 35px;
        height: 35px;
        position: absolute;
    }
    input {
        color: var(--ion-color-secondary, green) !important;
        text-align: left;
        display: inline-block;
        border: 0 !important;
        width: 60vW;
        background: transparent !important;
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
        padding-left: 45px;
        padding-right: 45px;
        text-align: center;

    }
}

.password {
    border-radius: 25px;
    border-bottom: 1px solid var(--ion-color-secondary, green) !important;
    img {
        width: 35px;
        height: 35px;
        position: absolute;
    }
    input {
        color: var(--ion-color-secondary, green) !important;
        text-align: left;
        display: inline-block;
        border: 0 !important;
        border-bottom: 1px solid var(--ion-color-primary, fuchsia);
        width: 60vW;
        background: transparent !important;
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
        padding-left: 45px;
        padding-right: 45px;
        text-align: center;
    }
}

.error {
    padding: 1rem;
    color: red;
    font-weight: bold;
    font-size: 1rem;
}

.btn-access {
    padding-top: 0.5rem;
    --background: var(--ion-color-primary, fuchsia) !important;
    --color: white !important;
    span {
        padding-left: 2em !important;
        padding-right: 2em !important;
        font-weight: bolder;
        font-family: "MontserratBold" !important;
    }
}

.btn-create {
    --color: white !important;
}

.forgot-password {
    span {
        color: var(--ion-color-primary, fuchsia) !important;
        font-family: "MontserratBold" !important;
        text-decoration-line: underline;
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }
}

.login-fb {
    padding-top: 1rem;
    img {
        border-radius: 5px;
        width: 50%;
        margin: 0 auto;
    }
}
.login-google {
    padding-top: 1rem;
    img {
        border-radius: 5px;
        width: 50%;
        margin: 0 auto;
    }
}

.login-fingerprint {
    img {
        border-radius: 5px;
        width: 75%;
        margin: 0 auto;
    }
}
.login-social-txt{
    color: var(--ion-color-primary, fuchsia) !important;
    font-family: "MontserratBold" !important;
    font-size: 0.65rem;
    padding-top: 0.5rem;
}


::placeholder {
    color: var(--icolor-light-grey, grey);
    opacity: 0.75;
}