@media(min-width: 769px) {
  .left-col{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    img{
      max-width: 400px;
    }
  }
  .right-col{
    height: 100vh;
    padding: 0;
    background-image: url('../../assets/imgs/access-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .gradient{
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0.8;
      background: rgba(92, 255, 233, 1);
      background: -moz-linear-gradient(-45deg, rgba(92, 255, 233, 1) 0%, rgba(214, 102, 162, 1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(92, 255, 233, 1)), color-stop(100%, rgba(214, 102, 162, 1)));
      background: -webkit-linear-gradient(-45deg, rgba(92, 255, 233, 1) 0%, rgba(214, 102, 162, 1) 100%);
      background: -o-linear-gradient(-45deg, rgba(92, 255, 233, 1) 0%, rgba(214, 102, 162, 1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(92, 255, 233, 1) 0%, rgba(214, 102, 162, 1) 100%);
      background: linear-gradient(135deg, rgba(92, 255, 233, 1) 0%, rgba(214, 102, 162, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cffe9', endColorstr='#d666a2', GradientType=1);
      background: linear-gradient(135deg, rgba(92, 255, 233, 1) 0%, rgba(214, 102, 162, 1) 100%);
    }
    .login-form-actions {
      position: relative;
      width: 428px;
      .desktop-logo{
        margin-bottom: 70px;
      }
      .icon-input{
        margin-right: var(--sm-spacing);
      }
      input[type="text"],
      input[type="password"]{
        margin-top: 15px;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid white;
        padding-bottom: 15px;
        color: white;
        width: 100%;
        &:focus,
        &:active{
          outline: none;
        }
        &::placeholder{
          color: white;
        }
        &.error-input{
          border-bottom: 1px solid var(--ion-color-primary);
          color: var(--ion-color-primary);
          &::placeholder{
          color: var(--ion-color-primary);
          }
        }
      }
      .btn-access{
        width: 330px;
        border-radius: 50px;
        height: 50px;
        margin-top: var(--sm-spacing);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: var(--lg-spacing);
        color: var(--ion-color-primary);
        background-color: white;
      }
      .forgot-div{
        margin-top: var(--lg-spacing);
      }
      .btn-forgot-password{
        color: white;
        text-decoration: underline !important;
        font-size: 14px;
        cursor: pointer;
      }
      .login-rrss{
        margin-top: var(--lg-spacing);
        justify-content: space-between;
        .btn-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
        }
        .rrss{
          font-size: 14px;
          color: white;
          margin-right: 7px;
          font-family: 'MontserratBold' !important;
        }
      }
      .web-btn-register{
        margin-top: var(--lg-spacing);
        margin-bottom: var(--lg-spacing);
        background-color: rgba(255, 255, 255, 0.4);
        color: white;
        width: 100%;
        height: var(--lg-spacing);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'MontserratBold';
      }
      .app-links{
        display: flex;
        justify-content: space-around;
      }
    }
  }
  .error{
 
    text-align: center;
    margin-top: 15px;
    background-color: #f8f9fa33;
    padding: 15px;
    span{
      font-size: var(--xxs-size);
      color: #C41E3D;
      font-family: 'MontserratBold' !important;
    }
  }
}
