  <div class="background-buttons"></div>
  <a class="timeline-icon" tappable (click)="goTimeLine()">
    <img src="assets/icon/ios-icon-timeline.svg" alt="">
  </a>
  <a class="search-icon" tappable (click)="goSearch()">
    <img src="assets/icon/ios-icon-search.svg" alt="">
  </a>
  <a class="new-post-icon" tappable (click)="openModalNewpost()">
    <img src="assets/icon/ios-icon-lens.svg" alt="">
  </a>
  <a class="connections-icon" tappable (click)="goConnections()">
    <img src="assets/icon/ios-icon-connections.svg" alt="">
  </a>
  <a class="my-profile-icon" tappable (click)="goMyProfile()">
    <img src="assets/icon/ios-icon-my-profile.svg" alt="">
  </a>
