
.timeline-icon {
    position: absolute;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    // left: calc(50% - 30px);
    z-index: 100;
    left: 15px;
    border-radius: 35px;
    img {
        padding: 20%;
    }
}
.search-icon {
    position: absolute;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: calc(33% - 40px);
    z-index: 100;
    border-radius: 35px;
    img {
        padding: 20%;
    }
}
.new-post-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: calc(50% - 30px);
    z-index: 100;
    background: var(--ion-color-primary, fuchsia);
    border-radius: 35px;
    img {
        padding: 20%;
    }
}
.connections-icon {
    position: absolute;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: calc(75% - 40px);
    z-index: 100;
    border-radius: 35px;
    img {
        padding: 20%;
    }
}
.my-profile-icon {
    position: absolute;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 15px;
    z-index: 100;
    border-radius: 35px;
    img {
        padding: 20%;
    }
}

.tab-selected {
    position: absolute;
    bottom: 0;
    width: 20%;
    height: auto;
    border-top: 3px solid var(--ion-color-secondary, green);
}

.background-buttons{
    background: white;
    position: absolute;
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    z-index: 99;
}