<app-header [notifications]="false" [back]="true" [title]="'PHOTO_DETAIL_TITLE' | translate | titlecase" [options]="true" (openOptions)="presentActionSheet()"> </app-header>

<ion-content no-padding no-margin *ngIf="photo &&!isLoading">
    <div class="not-found-background" *ngIf="notFound"></div>
    <ion-card no-margin class="animated fadeIn">
        <ion-card-header no-padding>
            <ion-icon *ngIf="!photo.isPublic" name="lock" class="icon-private"></ion-icon>
            <figure *ngIf="photo.thumbnail">
                <img class="picture" [src]="photo.thumbnail" />
            </figure>
            <ion-item lines="none" class="user-info" *ngIf="photo.user">
                <ion-avatar *ngIf="photo.user" tappable (click)="goPublicProfile(photo.user)" slot="start"> <img [src]="photo.user.avatar || '/assets/imgs/logo-cam-fb.png'">
                </ion-avatar>
                <ion-text style="padding-left:0!important;" class="username"> <small class="faceBold" tappable (click)="goPublicProfile(photo.user)">@{{photo.user.nickname}}</small></ion-text>
                <ion-icon class="icon-share" color="primary" tappable (click)="sharePhoto(photo)" name="ios-icon-share" slot="end"></ion-icon>
                <ion-icon class="icon-tag" [hidden]="showTags" tappable (click)="showUserTags(photo)" name="ios-icon-tag" slot="end"></ion-icon>
                <ion-icon class="icon-tag" [hidden]="!showTags" tappable (click)="showUserTags(photo)" name="ios-icon-tag-green" slot="end"></ion-icon>
            </ion-item>
            <div class="user-tags animated fadeIn" *ngIf="showTags && photo.tags && !loading" text-center>
                <span class="faceBold" [class.nonUserTag]="userTag.nonUser" [class.pendingTag]="userTag.hide" *ngFor="let userTag of photo.tags" [style.left]="userTag.coords.col+'%'" [style.top]="userTag.coords.row+'%'">
                    <small *ngIf="userTag.user"> @{{userTag.user.nickname}}</small>
                    <small *ngIf="!userTag.user"> {{userTag.nonUser}}</small>
                </span>
            </div>
            <div class="no-user-tags" *ngIf="showTags && photo.tags.length===0 && !loading" text-center>
                <span class="faceBold"> {{ 'PHOTO_DETAIL_NO_TAGS' | translate }}</span>
            </div>
        </ion-card-header>
        <ion-card-content text-center *ngIf="photo">
            <ion-text color="dark" *ngIf="photo.title">
                <h2 >{{photo.title}}</h2>
            </ion-text>
            <div class="hashtags" *ngIf="photo.hashTags">
                <ion-text *ngFor="let hashTag of photo.hashTags" color="primary">{{hashTag._hashTagShow()}}</ion-text>
            </div>
            <div class="separator"> </div>
            <ion-text class="location" color="primary" *ngIf="photo.location">
                {{ photo.location.address }}
            </ion-text>
            <ion-text class="date" color="dark" *ngIf="photo.metaDate">
                <ion-text padding-top>{{photo.metaDate | date:'dd/M/yyyy HH:mm'}}</ion-text>
            </ion-text>
            <ion-grid no-padding class="buttons-footer">
                <ion-row no-padding>
                    <ion-col col-6 text-center>
                        <ion-button expand="block" tappable (click)="showModalComments(photo)">
                            {{ 'PHOTO_DETAIL_BUTTON_COMMENT' | translate }}
                        </ion-button>
                    </ion-col>
                    <ion-col col-6 text-center>
                        <ion-button expand="block" tappable (click)="showModalTagPhoto(photo)">
                            {{ 'PHOTO_DETAIL_BUTTON_TAG' | translate }}
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
