@media(min-width: 769px) {

  #web-detail-photo{
    .big-image{
      padding-bottom: 66.33%;
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      cursor: pointer;
    }
    .user-tags{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      span{
        position: absolute;
        top: 0;
        background: var(--ion-color-secondary, green);
        color: var(--ion-color-light, white);
        padding-right: 5px;
        padding: 0.5rem;
        font-size: 0.75rem;
      }
      span::after {
        content: '';
        position: absolute;
        left: 40%;
        top: 100%;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid var(--ion-color-secondary, green);
        clear: both;
      }
    }
    .user-info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      margin-bottom: 15px;
      .user{
        display: flex;
        justify-content: center;
        align-items: center;
        ion-avatar.hydrated {
          width: 40px;
          height: 40px;
        }
        img{
          width: 40px;
          height: auto;
          border-radius: 50%;
        }
        .nickname{
          font-family: 'MontserratBold' !important;
          font-size: var(--xxs-size);
          margin-left: 10px;
          cursor: pointer;
        }
      }
      .actions{
        display: flex;
        .share-icon{
          margin-right: var(--md-spacing);
        }
        .tag{
          float: none;
        }
        ion-icon{
          color: var(--ion-color-primary);
          cursor: pointer;
        }
      }
    }
    .photo-info{
      text-align: center;
      .title{
        margin-bottom: var(--sm-spacing);
        color: var(--ion-color-dark);
        font-size: var(--sm-size);
      }
      .hashtags{
        margin-bottom: var(--md-spacing);
        color: var(--ion-color-primary);
        position: relative;
        font-size: var(--xxs-size);
        .tag{
          margin-right: var(--sm-spacing);
        }
        &:after{
          content: '';
          display: block;
          background-color: var(--ion-color-secondary);
          position: absolute;
          bottom: -16px;
          width: 30px;
          height: 3px;
          left: calc(50% - 15px);
        }
      }
      .img-location{
        color: var(--ion-color-primary);
        margin-bottom: var(--sm-spacing);
        font-size: var(--xxs-size);

      }
      .img-date{
        font-size: 10px;
        margin-bottom: var(--md-spacing);
        color: var(--ion-color-dark);
        position: relative;
        &:after{
          content: '';
          display: block;
          background-color: var(--ion-color-secondary);
          position: absolute;
          bottom: -16px;
          width: 30px;
          height: 3px;
          left: calc(50% - 15px);
        }
      }
    }
    .buttons-wrapper{
      display: flex;
      justify-content: space-around;
      button{
        background-color: var(--ion-color-primary);
        color: white;
        font-size: var(--xxs-size);
        width: 160px;
        font-family: 'MontserratBold' !important;
        padding: 15px;
        border-radius: 30px;
        &:focus{
          outline: none;
        }
      }
    }

    .comments{
      font-family: 'Montserrat';
      margin-top: var(--md-spacing);
    }
    #tag-panel, .tag-panel{
      background-color: white;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
